.home {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  // GLOBAL COMPONENTS
  .logo {
    position: fixed;
    // display: none;
  }
  .navLogo {
    cursor: pointer;
  }
  // GLOBAL COMPONENTS

  .mainContent {
    background: $sunderSnow;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    .aside {
      background: $sunderMidnight;
      width: 49vw;
      &Active {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 100vh;
      }
    }

    .heroText {
      position: fixed;
      top: 50vh;
      left: calc(2rem + 4vw);
      transform: translate(0, -56%);
      // transform: translate(6%, -56%) scale(1.25);
      transition: transform $nav-transition;
      &Active {
        transform: translate(0, calc(-56% - 50vh));
      }
      .line1 {
        animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1s forwards;
        -webkit-animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1s
          forwards;
      }
      .line2 {
        animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.12s forwards;
        -webkit-animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.12s
          forwards;
      }
      .line3 {
        animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.24s forwards;
        -webkit-animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.24s
          forwards;
      }
      .line4 {
        animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.36s forwards;
        -webkit-animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.36s
          forwards;
      }
      .line5 {
        animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.48s forwards;
        -webkit-animation: shiftText 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1.48s
          forwards;
      }
      @keyframes shiftText {
        to {
          transform: translate(0, 0) scale(1);
        }
      }
    }

    .heroTextWrapper {
      overflow: hidden;
    }
    .heroText .line,
    .arrivalText .line {
      display: block;
      color: $sunderSnow;
      font-family: $font-family-heading;
      font-size: $hero-text;
      font-weight: 450;
      transform: translate(0, 120%);
    }

    .arrivalText {
      position: fixed;
      top: 50vh;
      top: 50dvh;
      left: 0;
      transform: translate(36vw, -50%) scale(2);
      transition: transform $nav-transition;
      opacity: 1;
      pointer-events: none;
      .line {
        color: $sunderSnow;
        transform: translate(0, 0);
      }
      .line1 {
        animation: shiftText2 1.4s cubic-bezier(0.7, 0, 0.3, 1) 0.8s forwards;
        -webkit-animation: shiftText2 1.2s cubic-bezier(0.7, 0, 0.3, 1) 0.8s
          forwards;
      }
      .line2 {
        animation: shiftText2 1.4s cubic-bezier(0.7, 0, 0.3, 1) 0.9s forwards;
        -webkit-animation: shiftText2 1.2s cubic-bezier(0.7, 0, 0.3, 1) 0.9s
          forwards;
      }
      .line3 {
        animation: shiftText2 1.4s cubic-bezier(0.7, 0, 0.3, 1) 1s forwards;
        -webkit-animation: shiftText2 1.2s cubic-bezier(0.7, 0, 0.3, 1) 1s
          forwards;
      }
      @keyframes shiftText2 {
        to {
          transform: translate(0, -120%);
        }
      }
    }

    .heroBtns {
      position: fixed;
      top: calc(100% - 16vh);
      left: calc(2rem + 4vw);
      display: flex;
      // display: none;
      transition: transform $nav-transition;
      opacity: 0;
      animation: appear 0.8s ease 1.8s forwards;
      -webkit-animation: appear 0.8s ease 1.8s forwards;
      &Active {
        transform: translate(0, -50vh);
      }
    }

    .heroBtns > * {
      position: relative;
      font-family: $font-family-body;
      font-size: $md-text;
      font-weight: 300;
      border-radius: 4rem;
      padding: 0.4rem 1.4rem;
      width: calc(7.8rem + 7.8vw);
      height: calc(2.2rem + 1.6vw);
      &:focus {
        outline: none;
        background: $sunderRoyalLight;
        border: 1px solid $sunderRoyalLight;
      }
    }
    .cta {
      border: 1px solid $sunderSnow;
      margin-right: 2vw;
      // See Globals for the rest
      &::before {
        content: "Join The Squad";
        color: $sunderSnow;
        font-size: $md-text;
      }
      .ctaCircle {
        background: $sunderRoyalLight;
      }

      &:hover {
        border: 1px solid $sunderRoyalLight;
        &::before {
          color: $sunderSnow;
        }
      }
    }
    .cta2 {
      background: linear-gradient(90deg, #15499340, #4aabd040);
      color: transparent;
      border: 1px solid $sunderRoyalLight;
      width: calc(7.2rem + 7.2vw);
      display: flex;
      cursor: pointer;
      &::before {
        content: "Play Video";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-56%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        z-index: 1;
        color: $sunderSnow;
        font-size: $md-text;
      }
      .playIconFrame {
        width: calc(1rem + 1vw);
        height: calc(1rem + 1vw);
        border-radius: 50%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(80%, 0);
        overflow: hidden;
        transition: transform 0.4s cubic-bezier(0.05, 0.6, 0.56, 1),
          opacity 0.2s ease;
        .playIcon {
          width: calc(0.5rem + 0.7vw);
          height: calc(0.5rem + 0.7vw);
        }
        .playIcon1 {
          transform: translate(-120%, 0);
          animation: loopRight2 3.6s cubic-bezier(0.6, 0, 0.4, 1) forwards
            infinite;
        }
        .playIcon2 {
          transform: translate(-50%, 0);
          animation: loopRight 3.6s cubic-bezier(0.75, 0, 0.25, 1) forwards
            infinite;
        }
      }
    }

    .reel {
      height: calc(108rem + 148vw);
      background: $sunderMidnight;
      width: 51vw;
      padding-left: 2vw;
      display: flex;
      justify-content: space-between;
      animation: changeBg 0.8s ease 0.2s forwards;
      -webkit-animation: changeBg 0.8s ease 0.2s forwards;
      transition: transform $nav-transition;
      overflow: hidden;
      animation: changeBg 0.6s ease 1.6s forwards;
      -webkit-animation: changeBg 0.6s ease 1.6s forwards;

      .col1,
      .col2 {
        width: 48%;
        opacity: 0;
        transition: transform $nav-transition;
        animation: appear 0.6s ease 1.7s forwards;
        -webkit-animation: appear 0.6s ease 1.7s forwards;

        .reelImg,
        .reelImgShort {
          background: var(--sunderIce);
          height: calc(14rem + 18vw);
          margin-bottom: calc(0.6rem + 1.2vw);
          border-radius: calc(0.4rem + 0.2vw);
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        .reelImgShort {
          height: calc(6rem + 10vw);
        }
        .topImg {
          border-radius: 0 0 calc(0.4rem + 0.2vw) calc(0.4rem + 0.2vw);
        }
        .bottomImg {
          border-radius: calc(0.4rem + 0.2vw) calc(0.4rem + 0.2vw) 0 0;
        }

        &Active {
          transform: translate(0, -50vh);
        }
      }

      .col2Inner {
        transition: 0.6s cubic-bezier(0.1, 0.44, 0.44, 1);
      }

      &Active {
        position: absolute;
        right: 0;
      }
    }

    @keyframes changeBg {
      to {
        background: $sunderSnow;
      }
    }
  }
}

@keyframes appear {
  to {
    opacity: 1;
    pointer-events: all;
  }
}

@media (max-width: 1024px) {
  .home {
    // GLOBAL COMPONENTS
    .logo {
      position: absolute;
    }
    // GLOBAL COMPONENTS

    .mainContent {
      flex-direction: column;
      .aside {
        width: 100vw;
        height: 92vh;
        min-height: 28rem;
        max-height: 42rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 12rem;
        transition: transform $nav-transition;
        .heroText {
          position: static;
          transform: translate(-10%, -40%);
          opacity: 1;
          pointer-events: all;
          animation: none;
        }
        .arrivalText {
          left: 50%;
          transform: translate(-50%, -50%) scale(1.4);
        }

        .heroBtns {
          position: static;
          width: calc(12rem + 28vw);
          display: flex;
          justify-content: space-between;
          transform: translate(-3%, -100%);
          .cta {
            margin: 0;
          }
        }
        &Active {
          position: static;
          transform: translate(0, -58vh);
        }
      }
      .reel {
        height: calc(176rem + 168vw);
        width: 50vw;
        width: 100vw;
        padding-left: 0;
        .col1,
        .col2 {
          .reelImg,
          .reelImgShort {
            height: calc(24rem + 18vw);
          }
          .reelImgShort {
            height: calc(12rem + 10vw);
          }
          &Active {
            transform: translate(0, 0) !important;
          }
        }
        &Active {
          position: static;
          transform: translate(0, -58vh);
        }
      }
    }
  }
}

@media (max-width: 580px) {
  .home {
    .mainContent {
      .aside {
        align-items: flex-start;
        padding: 12rem 0 0 2.4rem;
        .heroText {
          transform: translate(8%, -32%);
          // transform: translate(12%, -32%) scale(1.2);
        }
        .heroBtns {
          // border: 2px dashed coral;
          width: calc(10rem + 36vw);
          justify-content: center;
          gap: 2rem;
          left: 50%;
          transform: translate(8%, -50%);
          // display: none;
        }
      }
      .reel {
        height: calc(108rem + 148vw);
        .col1,
        .col2 {
          .reelImg,
          .reelImgShort {
            height: calc(14rem + 18vw);
          }
          .reelImgShort {
            height: calc(6rem + 10vw);
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .home {
    .mainContent {
      .aside {
        height: 78vh;
        .heroText {
          transform: translate(0, -32%);
        }
        .heroBtns {
          transform: translate(0, -50%);
        }
        &Active {
          transform: $nav-shift;
        }
      }
      .reel {
        &Active {
          transform: $nav-shift;
        }
      }
    }
  }
}

//
// Height Media Queries
//

@media (max-height: 620px) {
  .home {
    .mainContent {
      .aside {
        .heroText .line,
        .arrivalText .line {
          font-size: $xl-text;
        }
        .heroBtns {
          // border: 2px dashed coral;
          transform: translate(-12%, 0) scale(0.8);
          &Active {
            transform: translate(-12%, -50vh) scale(0.8);
          }
        }
      }
    }
  }
}

@media screen and (max-height: 620px) and (max-width: 1024px) {
  .home {
    .mainContent {
      .aside {
        .heroText .line,
        .arrivalText .line {
          font-size: $xl-text;
        }
        .heroBtns {
          transform: translate(-2%, -2.6rem) scale(0.8);
          &Active {
            transform: translate(-2%, -2.6rem) scale(0.8);
          }
        }
      }
    }
  }
}
