/* 
Satoshi Weights 
300 - 900 | Variable 

Monument Weights 
100, 200, 450, 675, 800 | Not Variable 
*/

@import url("https://fonts.googleapis.com/css2?family=Saira:wght@100;300;500;700;900&display=swap");

/* Sunder Fonts */
@font-face {
  font-family: "satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Black.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Bold.woff2);
  font-weight: 675;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Regular.woff2);
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Light.woff2);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}
