.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
  white-space: nowrap;
}

#boldTitle {
  font-weight: 675;
}

.hide {
  display: none;
}

.a11y {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

.monument-font {
  font-family: $font-family-heading;
}
