$satoshi: "satoshi", sans-serif;
$monument: "monument", sans-serif;
$saira: "Saira", sans-serif;

$sunderSnow: #f7f7f7;
$sunderIce: #c6d3d8;
$sunderRoyalLight: #0c5ff2;
$sunderRoyal: #074895;
$sunderNavy: #061a2a;
$sunderMidnight: #000014;
$enzyHero: #6da894;

$Hero-Text: calc(1.6rem + 2.4vw);
$XXL-Text: calc(0.4rem + 2.8vw);
$XL-Text: calc(1.4rem + 1.4vw);
$L-Text: calc(1rem + 1.2vw);
$M-Text: calc(0.8rem + 1vw);
$S-Text: calc(0.8rem + 0.4vw);
$XS-Text: calc(0.6rem + 0.3vw);

$nav-shift: translate(0, -50vh);
$nav-transition: 0.6s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.06s;

$test: 1px dashed lightcoral;
