// Font family

$font-family-heading: "monument", sans-serif;
$font-family-body: "satoshi", sans-serif;
$font-family-enzy: "Saira", sans-serif;

$heading-bold: 800;
$heading-semi-bold: 675;
$heading-medium: 450;
$heading-light: 200;
$heading-thin: 100;

$body-black: 900;
$body-extra-bold: 800;
$body-bold: 700;
$body-semi-bold: 600;
$body-medium: 500;
$body-normal: 400;
$body-light: 300;
$body-extra-light: 200;
$body-thin: 100;

// Color

$sunderSnow: #f7f7f7;
$sunderIce: #c6d3d8;
$sunderRoyalLight: #0c5ff2;
$sunderRoyal: #074895;
$sunderNavy: #061a2a;
$sunderMidnight: #000014;
$enzyHero: #6da894;

$hero-text: calc(1.6rem + 2.4vw);
$xxl-text: calc(0.4rem + 2.8vw);
$xl-text: calc(1.4rem + 1.4vw);
$lg-text: calc(1rem + 1.2vw);
$md-text: calc(0.8rem + 1vw);
$sm-text: calc(0.8rem + 0.4vw);
$xs-text: calc(0.6rem + 0.3vw);

$radius: calc(24px + 2vw);

$nav-shift: translate(0, -50vh);
$nav-transition: 0.6s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.06s;

$test: 1px dashed lightcoral;
