.compete {
    // GLOBAL COMPONENTS
    .logo {
        position: fixed;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
    }
    // GLOBAL COMPONENTS

    .mainContent {
        background: $sunderSnow;
        width: 100vw;
        height: clamp(36rem, 100dvh, 84rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;

        .cta {
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            opacity: 0;
            border: 1px solid $sunderMidnight;
            animation: appear 0.6s ease 0.6s forwards;
            z-index: 2;
            &::before {
                content: 'Join The Squad';
                color: $sunderMidnight;
                font-size: $S-Text;
            }
            .ctaCircle {
                background: $sunderRoyalLight;
            }
            &:hover {
                border: 1px solid $sunderRoyalLight;
                &::before {
                    color: $sunderSnow;
                }
            }
        }

        .mySwiper {
            // border: 2px dashed coral;
            width: 100vw;
            height: 78vh;
            // transform: translate(24px, 0);
            // padding-left: 2.4rem;
            padding-left: 1.2rem;
            .swiper-wrapper {
                // background: blue;
                height: 94%;
                .swiper-slide {
                    // border: 2px dashed coral;
                    position: relative;
                    border-radius: 0.8rem;
                    overflow: hidden;
                    margin: 0 1.2rem;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // opacity: 0.2;
                    }
                    .details {
                        position: absolute;
                        bottom: 0;
                        // border: 2px dashed coral;
                        z-index: 2;
                        width: 100%;
                        height: 18%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        background: linear-gradient(0deg, #000000ac 24%, #00000000);
                        padding-left: 1.2rem;
                        .videoTitle,
                        .videoDescription {
                            color: $sunderSnow;
                            font-weight: 675;
                        }
                        .videoTitle {
                            font-size: $XS-Text;
                        }
                        .videoDescription {
                            font-family: $monument;
                            font-size: $S-Text;
                        }
                    }
                }
            }
            .swiper-pagination {
                // border: 1px solid black;
                width: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                transform: translate(2.4rem, 0);
                &-bullet {
                    border: 1px solid $sunderRoyalLight;
                    background: $sunderIce;
                    width: 16px;
                    height: 16px;
                    background: transparent;
                    transition: 0.3s ease;
                    &-active {
                        background: $sunderRoyalLight;
                    }
                    &:hover {
                        background: $sunderRoyal;
                    }
                }
            }
        }

        &Active {
            transform: translate(0, -50vh);
        }
    }
}

@media (max-width: 1440px) {
    .compete {
        .mainContent {
            .mySwiper {
                height: 74vh;
                // .swiper-wrapper {
                //     height: 94%;
                // }
            }
        }
    }
}
