.compete {
    // GLOBAL COMPONENTS
    .logo {
        position: fixed;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
    }
    // GLOBAL COMPONENTS

    .mainContent {
        background: $sunderMidnight;
        width: 100vw;
        height: clamp(36rem, 100dvh, 84rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;

        .cta {
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            opacity: 0;
            border: 1px solid $sunderSnow;
            animation: appear 0.6s ease 0.6s forwards;
            z-index: 2;
            &::before {
                content: 'Join The Squad';
                color: $sunderSnow;
                font-size: $S-Text;
            }
            .ctaCircle {
                background: $sunderRoyalLight;
            }
            &:hover {
                border: 1px solid $sunderRoyalLight;
                &::before {
                    color: $sunderSnow;
                }
            }
        }

        // .carousel {
        //     position: relative;
        //     width: 100%;
        //     height: 100vh;
          
        //     .carousel-background {
        //       position: absolute;
        //       top: 0;
        //       left: 0;
        //       width: 100%;
        //       height: 100%;
        //       background-repeat: no-repeat;
        //       background-size: cover;
        //       transition: background-image 0.5s ease-in-out;
        //     }
          
        //     .carousel-content {
        //         // border: 2px dashed coral;
        //       position: absolute;
        //       bottom: 20%;
        //       left: 2.4rem;
        //     //   transform: translate(-50%, -50%);
        //     //   text-align: center;
        //       overflow: hidden;
          
        //       .wrapper {
        //         position: relative;
        //         top: 0;
        //         transition: top 0.5s ease-in-out;

        //         > * {
        //             color: $sunderSnow;
        //         }
          
        //         .title {
        //           font-size: 3rem;
        //           font-weight: 450;
        //           margin-bottom: 1rem;
        //         }
          
        //         .subTitle {
        //           font-size: 1.5rem;
        //           font-weight: 400;
        //         }
        //       }
        //     }
        //   }
          
          

        .backgrounds {
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            .backgroundImg {
                position: absolute;
                // width: 140%;
                // height: 140%;
                // transform: translate(0, 10%);
                // filter: blur(42px);
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
                height: 100%;
                object-fit: cover;
                opacity: 0;
                transition: opacity 1s ease-in-out;
                &:nth-of-type(2) {
                    width: 120%;
                    height: 120%;
                    transform: translate(-51.25%, -50%);
                }
                &.active {
                  opacity: 1;
                }

            }
        }

        .details {
            background: linear-gradient(20deg, #00000088 20%, #00000000);
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 2;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            .cta {
                position: absolute;
                top: auto;
                width: calc(5.4rem + 5.4vw);
                bottom: calc(12vw - 4.8rem);
                left: 4.8rem;
                opacity: 0;
                border: 1px solid $sunderSnow;
                display: flex;
                justify-content: space-between;
                animation: appear 0.6s ease 0.6s forwards;
                z-index: 2;
                &::before {
                    content: 'Play Video';
                    color: $sunderSnow;
                    font-size: $S-Text;
                    transform: translate(-56%, -50%);
                }
                .ctaCircle {
                    background: $sunderRoyalLight;
                }
                .playIconFrame {
                    width: calc(1rem + 1vw);
                    height: calc(1rem + 1vw);
                    border-radius: 50%;
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: translate(25%, 0) scale(0.8);
                    overflow: hidden;
                    transition: transform 0.4s cubic-bezier(.05,.6,.56,1), opacity 0.2s ease;
                    .playIcon {
                      width: calc(0.5rem + 0.7vw);
                      height: calc(0.5rem + 0.7vw);
                    }
                    .playIcon1 {
                      transform: translate(-120%, 0);
                      animation: loopRight2 3s cubic-bezier(.6,0,.4,1) forwards infinite;
                    }
                    .playIcon2 {
                      transform: translate(-50%, 0);
                      animation: loopRight 3s cubic-bezier(.75,0,.25,1) forwards infinite;
                    }
                  }

                &:hover {
                    border: 1px solid $sunderRoyalLight;
                    &::before {
                        color: $sunderSnow;
                    }
                }
            }
            .block {
                // border: 2px dashed coral;
                position: absolute;
                bottom: 12vw;
                left: 4.8rem;
                .textWrapper {
                    overflow: hidden;
                  }
                  
                  .title {
                    transform: translate(0, 100%);
                    transition: transform 0.6s ease 0.2s;
                    &.active {
                      transform: translate(0, 0);
                    }
                  }
                  
                  .subTitle {
                    transform: translate(0, 100%);
                    transition: transform 0.6s ease 0.4s;
                    &.active {
                      transform: translate(0, 0);
                    }
                  }
                  
                > * {
                    color: $sunderSnow;
                    font-size: $L-Text;
                    font-weight: 500;
                }

            }
        }

        .videoReel {
            position: absolute;
            top: 10rem;
            right: 2.4rem;
            height: clamp(44rem, 70%, 56rem);
            display: flex;
            flex-direction: column;
            gap: 1rem;
            overflow: hidden;
            opacity: 0;
            z-index: 3;
            animation: appear 1.2s ease 0.6s forwards;
            // transition: 0.4s ease;
            // &:hover {
            //     transform: translate(0, 0);
            // }
            .thumbnail {
                flex: 0 0 auto;
                position: relative;
                overflow: hidden;
                width: 18rem;
                // height: 16vh;
                height: clamp(10rem, 16vh, 12rem);
                border-radius: 0.6rem;
                cursor: pointer;
                transition: transform 0.4s ease;
                .smallImg {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .playIcon {
                    position: absolute;
                    bottom: 1.2rem;
                    left: 1.2rem;
                    z-index: 2;
                    width: 2rem;
                    height: 2rem;
                }

                // &:hover {
                //     transform: translate(-4%, 0);
                // }
            }
            .thumbnail2 {
                animation: thumbnail2Track 30s cubic-bezier(.97,.02,.4,.95) 6s infinite;
            }
            @keyframes thumbnail2Track {
                0% {
                    // transform: translate(0, 0);
                    transform: translate(0, 0) scale(1);
                    opacity: 1;
                }

                2% {
                    // transform: translate(-112%, 0);
                    transform: translate(0%, 0) scale(0.4);
                    opacity: 1;
                }
                4% {
                    // transform: translate(-112%, 0);
                    transform: translate(0%, 0) scale(0.4);
                    opacity: 0;
                }

                6% {
                    transform: translate(0, calc(402% + 4rem)) scale(1);
                    opacity: 0;
                }
                15% {
                    transform: translate(0, calc(402% + 4rem));
                    opacity: 1;
                }
                24% {
                    transform: translate(0, calc(402% + 4rem));
                    opacity: 1;
                }

                26% {
                    transform: translate(0, calc(300% + 3rem));
                    opacity: 1;
                }
                35% {
                    transform: translate(0, calc(300% + 3rem));
                    opacity: 1;
                }
                44% {
                    transform: translate(0, calc(300% + 3rem));
                    opacity: 1;
                }

                46% {
                    transform: translate(0, calc(200% + 2rem));
                    opacity: 1;
                }
                55% {
                    transform: translate(0, calc(200% + 2rem));
                    opacity: 1;
                }
                64% {
                    transform: translate(0, calc(200% + 2rem));
                    opacity: 1;
                }

                66% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }
                75% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }
                84% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }

                86% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            .thumbnail3 {
                animation: thumbnail3Track 30s cubic-bezier(.97,.02,.4,.95) 6.25s infinite;
            }
            @keyframes thumbnail3Track {
                0% {
                    transform: translate(0, 0);
                    opacity: 1;
                }

                2% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                11% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                20% {
                    transform: translate(0, calc(-100% - 1rem)) scale(1);
                    opacity: 1;
                }

                22% {
                    // transform: translate(-112%, calc(-100% - 1rem));
                    transform: translate(0, calc(-100% - 1rem)) scale(0.4);
                    opacity: 1;
                }
                24% {
                    // transform: translate(-112%, calc(-100% - 1rem));
                    transform: translate(0, calc(-100% - 1rem)) scale(0.4);
                    opacity: 0;
                }

                26% {
                    transform: translate(0, calc(302% + 3rem)) scale(1);
                    opacity: 0;
                }
                35% {
                    transform: translate(0, calc(302% + 3rem));
                    opacity: 1;
                }
                44% {
                    transform: translate(0, calc(302% + 3rem));
                    opacity: 1;
                }

                46% {
                    transform: translate(0, calc(200% + 2rem));
                    opacity: 1;
                }
                55% {
                    transform: translate(0, calc(200% + 2rem));
                    opacity: 1;
                }
                64% {
                    transform: translate(0, calc(200% + 2rem));
                    opacity: 1;
                }

                66% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }
                75% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }
                84% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }

                86% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            .thumbnail4 {
                animation: thumbnail4Track 30s cubic-bezier(.97,.02,.4,.95) 6.5s infinite;
            }
            @keyframes thumbnail4Track {
                0% {
                    transform: translate(0, 0);
                    opacity: 1;
                }

                2% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                11% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                20% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }

                22% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }
                31% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }
                40% {
                    // transform: translate(0, calc(-200% - 2rem));
                    transform: translate(0, calc(-200% - 2rem)) scale(1);
                    opacity: 1;
                }

                42% {
                    // transform: translate(-112%, calc(-200% - 2rem));
                    transform: translate(0, calc(-200% - 2rem)) scale(0.4);
                    opacity: 1;
                }
                44% {
                    // transform: translate(-112%, calc(-200% - 2rem));
                    transform: translate(0, calc(-200% - 2rem)) scale(0.4);
                    opacity: 0;
                }

                46% {
                    // transform: translate(0, calc(200% + 2rem));
                    transform: translate(0, calc(202% + 2rem)) scale(1);
                    opacity: 0;
                }
                55% {
                    transform: translate(0, calc(202% + 2rem));
                    opacity: 1;
                }
                64% {
                    transform: translate(0, calc(202% + 2rem));
                    opacity: 1;
                }

                66% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }
                75% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }
                84% {
                    transform: translate(0, calc(100% + 1rem));
                    opacity: 1;
                }

                86% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            .thumbnail5 {
                animation: thumbnail5Track 30s cubic-bezier(.97,.02,.4,.95) 6.75s infinite;
            }
            @keyframes thumbnail5Track {
                0% {
                    transform: translate(0, 0);
                    opacity: 1;
                }

                2% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                11% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                20% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }

                22% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }
                31% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }
                40% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }

                42% {
                    transform: translate(0, calc(-300% - 3rem));
                    opacity: 1;
                }
                51% {
                    transform: translate(0, calc(-300% - 3rem));
                    opacity: 1;
                }
                60% {
                    // transform: translate(0, calc(-300% - 3rem));
                    transform: translate(0, calc(-300% - 3rem)) scale(1);
                    opacity: 1;
                }

                62% {
                    // transform: translate(-112%, calc(-300% - 3rem));
                    transform: translate(0, calc(-300% - 3rem)) scale(0.4);
                    opacity: 1;
                }
                64% {
                    // transform: translate(-112%, calc(-300% - 3rem));
                    transform: translate(0, calc(-300% - 3rem)) scale(0.4);
                    opacity: 0;
                }

                66% {
                    // transform: translate(0, calc(100% + 1rem));
                    transform: translate(0, calc(102% + 1rem)) scale(1);
                    opacity: 0;
                }
                75% {
                    transform: translate(0, calc(102% + 1rem));
                    opacity: 1;
                }
                84% {
                    transform: translate(0, calc(102% + 1rem));
                    opacity: 1;
                }

                86% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
                100% {
                    transform: translate(0, 0);
                    opacity: 1;
                }
            }

            .thumbnail1 {
                animation: thumbnail1Track 30s cubic-bezier(.97,.02,.4,.95) 7s infinite;
            }
            @keyframes thumbnail1Track {
                0% {
                    transform: translate(0, 5%);
                    opacity: 1;
                }

                2% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                11% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }
                20% {
                    transform: translate(0, calc(-100% - 1rem));
                    opacity: 1;
                }

                22% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }
                31% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }
                40% {
                    transform: translate(0, calc(-200% - 2rem));
                    opacity: 1;
                }

                42% {
                    transform: translate(0, calc(-300% - 3rem));
                    opacity: 1;
                }
                51% {
                    transform: translate(0, calc(-300% - 3rem));
                    opacity: 1;
                }
                60% {
                    transform: translate(0, calc(-300% - 3rem));
                    opacity: 1;
                }

                62% {
                    transform: translate(0, calc(-400% - 4rem));
                    opacity: 1;
                }
                71% {
                    transform: translate(0, calc(-400% - 4rem));
                    opacity: 1;
                }
                80% {
                    // transform: translate(0, calc(-400% - 4rem));
                    transform: translate(0, calc(-400% - 4rem)) scale(1);
                    opacity: 1;
                }

                82% {
                    // transform: translate(-112%, calc(-400% - 4rem));
                    transform: translate(0, calc(-400% - 4rem)) scale(0);
                    opacity: 1;
                }
                84% {
                    // transform: translate(-112%, calc(-400% - 4rem));
                    transform: translate(0, calc(-400% - 4rem)) scale(0);
                    opacity: 0;
                }

                86% {
                    // transform: translate(0, 0);
                    transform: translate(0, 5%) scale(1);
                    opacity: 0;
                }
                100% {
                    transform: translate(0, 5%);
                    opacity: 1;
                }
            }

        }

        &Active {
            transform: translate(0, -50vh);
        }
    }
}

@media (min-width: 2048px) {
    .compete {
        .mainContent {
            .videoReel {
                // border: 2px dashed coral;
                height: 48rem;
                .thumbnail {
                    width: 18rem;
                    height: 11rem;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .compete {
        .mainContent {
            .videoReel {
                height: 36rem;
                // top: 8rem;
                .thumbnail {
                    width: 18rem;
                    height: 11rem;
                }
            }
        }
    }
}
