.experience {
    // GLOBAL COMPONENTS
    .logo {
        position: absolute;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
    }
    // GLOBAL COMPONENTS

    .mainContent {
        // background: linear-gradient(180deg, #b0c2c9, #ecf3f500);
        background: $sunderSnow;
        width: 100vw;
        // height: clamp(26rem, 100dvh, 64rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;

        // .cta {
        //     position: absolute;
        //     top: 2.4rem;
        //     right: 2.4rem;
        //     opacity: 0;
        //     border: 1px solid $sunderMidnight;
        //     animation: appear 0.6s ease 0.6s forwards;
        //     z-index: 2;
        //     &::before {
        //         content: 'Join The Squad';
        //         color: $sunderMidnight;
        //         font-size: $S-Text;
        //     }
        //     .ctaCircle {
        //         background: $sunderRoyalLight;
        //     }
        //     &:hover {
        //         border: 1px solid $sunderRoyalLight;
        //         &::before {
        //             color: $sunderSnow;
        //         }
        //     }
        // }

        // .experienceHeader {
        //     // border: 2px dashed coral;
        //     width: 100vw;
        //     height: 100vh;
        //     display: flex;
        //     flex-direction: column;
        //     justify-content: center;
        //     align-items: center;
        //     h1 {
        //         width: 64%;
        //         font-size: $Hero-Text;
        //         // transform: translate(12%, 0) scale(1.3);
        //     }
        //     .text1 {
        //         margin-bottom: 2rem;
        //         // margin-bottom: 4rem;
        //     }
        //     .text2 {
        //         font-weight: 675;
        //     }
        // }

        .reel {
            // border: 2px dashed coral;
            // height: calc(58rem + 62vw); // Without the parallax, this height is responsive (ends at) the 2 & 4 column's fifth picture.
            height: calc(75rem + 79vw); // Without the parallax, this height is responsive (ends at) the 2 & 4 column's sixth picture.
            width: 100vw;
            // padding-left: 2vw;
            display: flex;
            gap: 1.6rem;
            justify-content: space-between;
            transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
            overflow: hidden;
            
            .columnOuter {
                // border: 2px dashed yellow;
              width: 25%;
              transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
    
              .reelImg,
              .reelImgShort {
                  background: transparent;
                  height: calc(16rem + 16vw);
                  margin-bottom: calc(0.6rem + 1.2vw);
                  border-radius: calc(0.4rem + 0.2vw);
                  overflow: hidden;
                  img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                  }
                //   &:last-of-type {
                //       margin-bottom: 0;
                //   }
              }
              .reelImgShort {
                  /* height: 32%; */
                  height: calc(8rem + 8vw);
              }
            //   .topImg {
            //     border-radius: 0 0 calc(0.4rem + 0.2vw) calc(0.4rem + 0.2vw);
            //   }
    
              &Active {
                transform: translate(0, -50vh);
              }
            }
            // .col2Inner,
            // .col4Inner {
            //   transition: 0.6s cubic-bezier(.1,.44,.44,1);
            // }
    
            &Active {
              position: absolute;
              right: 0;
            }
        }
        .reel-lg {
            display: flex;
        }
        .reel-md, 
        .reel-sm {
            display: none;
        }

        .videoSection {
            width: 100vw;
            height: 100dvh;
        }

        &Active {
            transform: translate(0, -50vh);
        }
    }
}


@media (max-width: 1248px) {
    .experience {
        .mainContent {
            .reel {
                .columnOuter {
                    width: 33%;
                }
            }
            .reel-lg {
                display: none;
            }
            .reel-md {
                display: flex;
            }
        }
    }
}

@media (max-width: 856px) {
    .experience {
        .mainContent {
            .reel {
                .columnOuter {
                    width: 50%;
                }
            }
            .reel-md {
                display: none;
            }
            .reel-sm {
                display: flex;
            }
        }
    }
}
@media (max-width: 768px) {
    .experience {
        .mainContent {
            &Active {
                transform: translate(0, -58vh);
            }
        }
    }
}
