.home {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }

  // GLOBAL COMPONENTS
  .logo {
    position: fixed;
  }
  .navLogo {
    cursor: pointer;
  }
  .videoContainer {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #00001499;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s ease 0.64s;
    z-index: -1;
    &Active {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.6s ease;
      z-index: 4;
    }
    .videoWrapper {
      width: 60vw;
      video {
        width: 100%;
      }
    } 
    .closeVideo {
      position: absolute;
      bottom: 2.4rem;
      left: 50%;
      transform: translate(-50%, 0%);
      display: flex;
      justify-content: center;
      align-items: center;
      &Burger {
        background: $sunderRoyalLight;
        position: relative;
        width: calc(3.2rem + 0.8vw);
        height: calc(3.2rem + 0.8vw);
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: background 0.3s ease 0.2s, transform 0.3s ease !important;
        &:hover {
          transform: scale(1.12);
          box-shadow: 0px 2px 8px #31313155;
        }
        .line {
          background: $sunderSnow;
          width: 40%;
          height: 2px;
          border-radius: 2rem;
          transition: 0.4s cubic-bezier(.75,.15,.25,.85) 0.4s;
          &:nth-of-type(2) {
            margin: 4px 0 4px 0;
            transition-delay: 0.46s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.52s;
          }
        }
        .lineCross {
          @extend .line;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(45deg);
          width: 0;
          transition-delay: 0s;
        }
        .line5 {
          @extend .lineCross;
          transform: translate(-50%, -50%) rotate(-45deg) !important;
        }
        &Active {
          background: $sunderRoyalLight;
          .line {
            width: 0;
            &:nth-of-type(1){
              transition-delay: 0s;
            }
            &:nth-of-type(2){
              transition-delay: 0.06s;
            }
            &:nth-of-type(3){
              transition-delay: 0.12s;
            }
          }
          .lineCross {
            width: 40%;
            transition-delay: 0.4s;
          }
        }
      }
    }
  }
  // GLOBAL COMPONENTS

  .mainContent {
    background: $sunderSnow;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    .aside {
        background: $sunderMidnight;
        width: 49vw;
        &Active {
          position: fixed;
          bottom: 0;
          left: 0;
          height: 100vh;
        }
      }
    
      .heroText {
        position: fixed;
        top: 50vh;
        left: calc(2rem + 4vw);
        transform: translate(0, -56%);
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        &Active {
          transform: translate(0, calc(-56% - 50vh));
        }
        .line1 {
          animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1s forwards;
          -webkit-animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1s forwards;
        }
        .line2 {
          animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.12s forwards;
          -webkit-animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.12s forwards;
        }
        .line3 {
          animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.24s forwards;
          -webkit-animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.24s forwards;
        }
        .line4 {
          animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.36s forwards;
          -webkit-animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.36s forwards;
        }
        .line5 {
          animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.48s forwards;
          -webkit-animation: shiftText 1.4s cubic-bezier(.7,0,.3,1) 1.48s forwards;
        }
        @keyframes shiftText {
          to {
            transform: translate(0, 0) scale(1);
          }
        }
      }
      
      .heroTextWrapper {
        overflow: hidden;
      }
      .heroText h1,
      .arrivalText h1 {
        color: $sunderSnow;
        font-family: $monument;
        font-size: $Hero-Text;
        font-weight: 400;
        transform: translate(0, 120%);
      }
      
      .arrivalText {
        position: fixed;
        top: 50vh;
        left: 0;
        transform: translate(36vw, -50%) scale(2);
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        opacity: 1;
        pointer-events: none;
        h1 {
          color: $sunderSnow;
          transform: translate(0, 0);
        }
        .line1 {
          animation: shiftText2 1.4s cubic-bezier(.7,0,.3,1) 0.8s forwards;
          -webkit-animation: shiftText2 1.2s cubic-bezier(.7,0,.3,1) 0.8s forwards;
        }
        .line2 {
          animation: shiftText2 1.4s cubic-bezier(.7,0,.3,1) 0.9s forwards;
          -webkit-animation: shiftText2 1.2s cubic-bezier(.7,0,.3,1) 0.9s forwards;
        }
        .line3 {
          animation: shiftText2 1.4s cubic-bezier(.7,0,.3,1) 1s forwards;
          -webkit-animation: shiftText2 1.2s cubic-bezier(.7,0,.3,1) 1s forwards;
        }
        @keyframes shiftText2 {
          to {
            transform: translate(0, -120%);
          }
        }
      }
      
      .heroBtns {
        // border: 2px solid yellow;
        position: fixed;
        top: calc(100% - 16vh);
        left: calc(2rem + 4vw);
        display: flex;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        opacity: 0;
        animation: appear 0.8s ease 1.8s forwards;
        -webkit-animation: appear 0.8s ease 1.8s forwards;
        &Active {
          transform: translate(0, -50vh);
        }
      }
      
      .heroBtns > * {
        position: relative;
        font-family: $satoshi;
        font-size: $M-Text;
        font-weight: 300;
        border-radius: 4rem;
        padding: 0.4rem 1.4rem;
        width: calc(8rem + 8vw);
        // height: 3.6rem;
        height: calc(2.4rem + 1vw);
      }
      .cta {
        border: 1px solid $sunderSnow;
        margin-right: 2vw;
        // See Globals for the rest
        &::before {
            content: 'Join The Squad';
            color: $sunderSnow;
            font-size: $M-Text;
        }
        .ctaCircle {
            background: $sunderRoyalLight;
        }

        &:hover {
            border: 1px solid $sunderRoyalLight;
            &::before {
                color: $sunderSnow;
            }
        }
    }
      .cta2 {
        background: linear-gradient(90deg, #15499340, #4AABD040);
        color: transparent;
        border: 1px solid $sunderRoyalLight;
        display: flex;
        cursor: pointer;
        // box-shadow: 0px 0px 0px 0px #07489580 inset;
        // box-shadow: 0px 0px 0px 0px $sunderRoyalLight inset;
        transition: 0.4s cubic-bezier(.05,.6,.56,1);
          &::before {
            content: 'Watch Promo';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-56%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            z-index: 1;
            color: $sunderSnow;
            font-size: $M-Text;
            transition: color 0.4s ease, transform 0.4s cubic-bezier(.05,.6,.56,1);
        }
        &:hover {
          // box-shadow: 0px 0px 0px 36px #07489580 inset;
          // box-shadow: 0px 0px 0px 1px $sunderRoyalLight inset;
          // border: 1px solid $sunderRoyal;
          &::before {
            // color: $sunderMidnight;
            transform: translate(-50%, -50%);
          }
          .playIconFrame {
            transform: translate(150%, 0%);
            opacity: 0;
          }
        }
      }
      .playIconFrame {
        width: calc(1rem + 1vw);
        height: calc(1rem + 1vw);
        border-radius: 50%;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(50%, 0);
        overflow: hidden;
        transition: transform 0.4s cubic-bezier(.05,.6,.56,1), opacity 0.2s ease;
        .playIcon {
          width: calc(0.5rem + 0.7vw);
          height: calc(0.5rem + 0.7vw);
        }
        .playIcon1 {
          transform: translate(-120%, 0);
          animation: loopRight2 3.6s cubic-bezier(.6,0,.4,1) forwards infinite;
        }
        .playIcon2 {
          transform: translate(-50%, 0);
          animation: loopRight 3.6s cubic-bezier(.75,0,.25,1) forwards infinite;
        }
      }
      @keyframes loopRight {
        0% {
          transform: translate(-50%);
        }
        80% {
          transform: translate(-50%);
        }
        100% {
          transform: translate(140%, 0);
        }
      }
      @keyframes loopRight2 {
        0% {
          transform: translate(-120%);
        }
        90% {
          transform: translate(-120%);
        }
        100% {
          transform: translate(50%, 0);
        }
      }
      
      .reel {
        height: calc(140rem + 133vw);
        background: $sunderMidnight;
        width: 51vw;
        padding-left: 2vw;
        display: flex;
        justify-content: space-between;
        animation: changeBg 0.8s ease 0.2s forwards;
        -webkit-animation: changeBg 0.8s ease 0.2s forwards;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        overflow: hidden;
        animation: changeBg 0.6s ease 1.6s forwards;
        -webkit-animation: changeBg 0.6s ease 1.6s forwards;
        &Active {
          position: absolute;
          right: 0;
        }
      }
      @keyframes changeBg {
        to {
          background: $sunderSnow;
        }
      }
      
      .col1,
      .col2 {
        width: 48%;
        opacity: 0;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        animation: appear 0.6s ease 1.7s forwards;
        -webkit-animation: appear 0.6s ease 1.7s forwards;
        &Active {
          transform: translate(0, -50vh);
        }
      }
      
      .col2Inner {
        transition: 0.6s cubic-bezier(.1,.44,.44,1);
      }
      .reelImg,
      .reelImgShort {
          background: var(--sunderIce);
          height: calc(16rem + 16vw);
          margin-bottom: calc(0.6rem + 1.2vw);
          border-radius: calc(0.4rem + 0.2vw);
          overflow: hidden;
      }
      .reelImg:last-of-type,
      .reelImgShort:last-of-type {
          margin-bottom: 0;
      }
      .reelImgShort {
          /* height: 32%; */
          height: calc(10rem + 10vw);
      }
      .topImg {
        border-radius: 0 0 calc(0.4rem + 0.2vw) calc(0.4rem + 0.2vw);
      }
      
      .reelImg img,
      .reelImgShort img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
    }
  }

  @keyframes appear {
    to {
      opacity: 1;
      pointer-events: all;
    }
  }

@media (max-width: 1024px) {
  .home {

    // GLOBAL COMPONENTS
    .logo {
      position: absolute;
    }
    // GLOBAL COMPONENTS

    .mainContent {
      flex-direction: column;
      .aside {
        width: 100vw;
        height: 92vh;
        min-height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 12rem;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        &Active {
          position: static;
          transform: translate(0, -52vh);
        }
      }
      
      .heroText {
        position: static;
        transform: translate(-25%, -40%);
        opacity: 1;
        pointer-events: all;
        animation: none;
      }
      .arrivalText {
        left: 50%;
        transform: translate(-50%, -50%) scale(1.4);
      }
      
      .heroBtns {
        // border: 2px solid coral;
        position: static;
        // width: 50%;
        width: calc(10rem + 36vw);
        display: flex;
        justify-content: space-between;
        // transform: translate(-12.5%, -100%);
        transform: translate(-10%, -100%);
        .cta {
          margin: 0;
        }
      }
        
    
      .reel {
        width: 50vw;
        width: 100vw;
        padding-left: 0;
        &Active {
          position: static;
          transform: translate(0, -52vh);
        }
      }
    
      .col1,
      .col2 {
        &Active {
          transform: translate(0, 0);
        }
      }
    }
    
  }
}


@media (max-width: 580px) {
  .home {
    .mainContent {
      .aside {
        height: 78vh;
        align-items: flex-start;
        padding: 12rem 0 0 2.4rem;
        .heroText {
          // border: 2px solid yellow;
          transform: translate(6%, -50%);
        }
        .heroBtns {
          // border: 2px dashed coral;
          // width: calc(14rem + 24vw);
          // width: 90%;
          justify-content: center;
          gap: 2rem;
          left: 50%;
          transform: translate(0, -100%);
        }
      }
    }
  }
}