.join {
  // GLOBAL COMPONENTS
  .logo {
    position: absolute;
    animation-delay: 0.4s;
  }
  .navLogo {
    position: fixed;
  }
  .burgerContainer {
    animation-delay: 0.6s;
  }
  // GLOBAL COMPONENTS

  .mainContent {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
    min-height: 48rem;
    display: flex;
    overflow: hidden;
    transition: transform $nav-transition;

    .leftSide {
      background: $sunderRoyalLight;
      width: 50%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .formPanel {
      background: $sunderMidnight;
      width: 50%;
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      overflow: auto;

      @media all {
        @include mq-max("lg") {
          width: 100vw;
          justify-content: flex-start;
          padding-top: calc(2rem + 2vw);
        }

        @include mq-max("md") {
          // Remember the Captcha. Note left 08/05/24
          padding-block-end: 248px;
        }
      }

      .formLogo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          width: auto;
          img {
            width: calc(12rem + 4vw);
          }
        }
      }
      .contact-form {
        $form-width: 68%;
        $form-width-md: 76%;
        $input-gap-md: 24px;

        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;

        @include mq-max("xxl") {
          gap: 32px;
        }
        @include mq-max("md") {
          gap: $input-gap-md;
        }

        .formBlock {
          // border: $test;
          position: relative;
          width: $form-width;
          min-height: 40px;
          border-bottom: 1px solid $sunderSnow;

          @include mq-max("md") {
            width: $form-width-md;
            border-color: $sunderIce;
          }

          &:has(.textarea) {
            margin-block-start: 12px;
            min-height: 88px;

            @include mq-max("xxl") {
              margin-block-start: 16px;
              min-height: 80px;
            }
          }

          .input {
            position: absolute;
            bottom: 12%;
            left: 0;
            font-size: $S-Text;
            color: $sunderSnow;
            background: transparent;
            border: none;
            width: 100%;
            height: 64%;
            border-radius: 0;
            transition: border 0.1s ease;
            display: flex;
            justify-content: center;

            &:hover {
              & ~ .label {
                opacity: 0.8;
              }
            }
          }

          .textarea {
            height: 100%;
            bottom: 0;
            resize: none;
          }

          .label {
            position: absolute;
            width: 100%;
            top: calc(100% - 32px);
            left: 0;
            font-size: $S-Text;
            font-weight: 300;
            color: $sunderSnow;
            opacity: 0.5;
            pointer-events: none;
            transition: 0.3s ease;

            @include mq-max("md") {
              top: calc(100% - 24px);
            }
          }
          .input:focus ~ .label,
          .input:not(:placeholder-shown).input:not(focus) ~ .label,
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus {
            top: -64%;
            opacity: 1;

            @include mq-max("md") {
              top: -32%;
            }
          }
          .textarea:focus ~ .label,
          .textarea:not(:placeholder-shown).textarea:not(focus) ~ .label,
          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus {
            top: -34%;

            .nested-label {
              opacity: 1;
              transition: 0.4s ease 0.2s;
            }
          }

          .nested-label {
            color: $sunderIce;
            opacity: 0;
            font-size: 14px;
            transition: 0.4s ease;

            @include mq-max("xxl") {
              font-size: 13px;
            }
            @include mq-max("sm") {
              font-size: 10px;
            }
          }
        }

        // Spacing For ReCaptcha
        .lastBlock {
          margin-block-end: 24px;
        }

        .side-by-side {
          display: flex;
          gap: 12px;
          width: $form-width;

          @include mq-max("lg") {
            max-width: 32rem;
          }

          @include mq-max("md") {
            flex-direction: column;
            align-items: center;
            gap: $input-gap-md;
            width: $form-width-md;
          }

          .formBlock {
            width: 100%;
            max-width: unset;
          }
        }

        .cta {
          position: relative;
          opacity: 0;
          border: 1px solid $sunderSnow;
          animation: appear 0.6s ease 0.2s forwards;
          z-index: 2;
          flex-shrink: 0;
          &::before {
            content: "Submit";
            color: $sunderSnow;
            font-size: calc(0.8rem + 0.6vw);
          }
          .ctaCircle {
            background: $sunderRoyalLight;
          }
          &:hover {
            border: 1px solid $sunderRoyalLight;
            &::before {
              color: $sunderSnow;
            }
          }
        }
      }
    }

    &Active {
      transform: $nav-shift;
    }
  }
}

@media (max-width: 1024px) {
  .join {
    .mainContent {
      min-height: 42rem;
      .leftSide {
        display: none;
      }
      .formPanel {
        // width: 100vw;
        // justify-content: flex-start;
        // padding-top: calc(2rem + 2vw);
        .formLogo {
          margin-bottom: calc(2rem + 2vw);
          a {
            img {
              width: calc(8rem + 4vw);
            }
          }
        }
        .contact-form {
          .formBlock {
            max-width: 32rem;
            height: 12%;
          }
          .lastBlock {
            margin-bottom: calc(1.2rem + 1.2vw);
          }
          .recaptcha {
            transform: scale(0.86);
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .join {
    .mainContent {
      .formPanel {
        .contact-form {
          .input {
            height: 80%;
            bottom: 0%;
          }
          .cta {
            &::before {
              font-weight: 400;
              font-size: $M-Text;
            }
          }
        }
      }
    }
  }
}
