$active: #4693D4;
$pending: #BCD0D7;

.opportunity {
    // GLOBAL COMPONENTS
    .logo {
        position: absolute;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
    }
    // GLOBAL COMPONENTS

    .mainContent {
        position: relative;
        background: $sunderSnow;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;

        .header {
            position: relative;
            height: clamp(24rem, 100vh, 64rem);
            padding: 2.4rem;
            > * {
                position: absolute;
            }
            h1 {
                font-size: calc(2rem + 3vw);
                font-weight: 450;
                bottom: 2.4rem;
                left: 4.8rem;
                color: $sunderSnow;
                z-index: 2;
                mix-blend-mode: difference;
                // .black {
                //     color: $sunderMidnight;
                // }
            }
            .cta {
                top: 2.4rem;
                right: 2.4rem;
                opacity: 0;
                animation: appear 0.6s ease 0.6s forwards;
                // See Globals for the rest
                &::before {
                    content: 'Join The Squad';
                    color: $sunderMidnight;
                    font-size: $S-Text;
                }
                .ctaCircle {
                    background: $sunderRoyalLight;
                }

                &:hover {
                    border: 1px solid $sunderRoyalLight;
                    &::before {
                        color: $sunderSnow;
                    }
                }
            }
            .repsImg {
                bottom: 2.4rem;
                right: 2.4rem;
                width: 40%;
            }
            .shape {
                bottom: 2.4rem;
                right: 2.4rem;
                width: 96%;
                height: 60%;
                border-radius: 0 2rem 0 2rem;
                // background: $sunderMidnight;
                background: #080808;
            }
            
        }

        .videos {
            // border: 2px dashed grey;
            padding: 2.4rem;
            width: 100vw;
            height: clamp(24rem, 100vh, 64rem);
            display: flex;
            gap: 1.2rem;
            .mainVideo {
                // border: 2px dashed grey;
                background: linear-gradient(-45deg,
                white,
                grey);
                width: 80%;
                height: 100%;
                border-radius: 1.6rem;
                padding: 2.4rem;
                h2 {
                    font-family: $monument;
                    font-size: $XXL-Text;
                    font-weight: 675;
                    color: white;
                }
            }
            .videoReel {
                // border: 2px dashed grey;
                width: 20%;
                height: 100%;
                border-radius: 1.6rem;
                display: flex;
                flex-direction: column;
                overflow: scroll;
                gap: 1.2rem;
                .smallVideo {
                    flex: 0 0 auto;
                    background: #D9D9D9;
                    width: 100%;
                    height: 25%;
                    border-radius: 1.6rem;
                }
            }
        }

        .quoteSection {
            // border: 2px dashed grey;
            // background: $sunderSnow;
            height: clamp(24rem, 100vh, 64rem);
            display: flex;
            justify-content: center;
            align-items: center;
            .quoteWrapper {
                opacity: 0;
                transform: translate(0, -50%);

                .quote {
                    font-size: $M-Text;
                    font-weight: 500;
                    color: #555555;
                    // text-align: center;
                    margin-bottom: 2rem;
                }
                .quoteCaption {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .quoteImg {
                        width: 28%;
                        margin-right: 2rem;
                    }
                    p {
                        @extend .quote;
                        text-align: left;
                        margin-bottom: 0;
                    }
                }
            }
            // &Active {
            //     border: 2px dashed coral;
            //     position: absolute !important;
            //     top: 0 !important;
            // }
        }

        .reel {
            // background: #C6D3D880;
            // background: $sunderIce;
            width: 100%;
            height: 100vh;
            padding: 2.4rem;
            display: flex;
            // justify-content: center;
            align-items: center;
            gap: calc(1rem + 1vw);
            overflow: hidden;
            z-index: 2;
            & > * {
                flex: 0 0 auto;
            }
            .repCard {
                background: $sunderSnow;
                width: 36%;
                height: 92%;
                border: 1px solid #bbb;
                // border-radius: 1.6rem;
                border-radius: calc(2.8rem + 2vw);
                // padding: 1.2rem;
                padding: calc(1.2rem + 2.8vw);

                .cardHeader {
                    margin-bottom: calc(1.6rem + 1.6vw);
                    display: flex;
                    align-items: center;
                    img {
                        width: 32%;
                        margin-right: calc(0.6rem + 1vw);
                    }
                    .cardTitle {
                        .name {
                            font-size: calc(0.4rem + 1.6vw);
                        }
                        .position {
                            font-size: calc(0.4rem + 1vw);
                        }
                    }
                }
                .cardBody {
                    // background: green;
                    height: 56%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .block {
                        border-bottom: 1px solid $sunderIce;
                        padding-bottom: 0.6rem;
                        display: flex;
                        align-items: center;
                        gap: calc(1rem + 2vw);
                        .year {
                            font-size: calc(0.6rem + 1.2vw);
                            // margin-bottom: 0.6rem;
                        }
                        .stats {
                            font-size: calc(0.6rem + 0.8vw);
                        }
                    }
                }
            }
        }

        .growth {
            // border: 2px dashed coral;
            height: 100vh;
            display: flex;
            .numberArea {
                // border: 2px dashed coral;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transform: translate(20%, 0);
                padding-bottom: calc(2rem + 4vw);
                #growthTitle {
                    color: $sunderSnow;
                    font-family: $monument;
                    font-size: $L-Text;
                    font-weight: 450;
                    opacity: 0;
                }
                .timeline {
                    // background-color: lightblue;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    // width: 46%;
                    height: 40%;
                    padding-bottom: 1rem;
                    margin-bottom: 2.8rem;
                    &Border {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(calc(4rem + 2vw), -10%);
                        background: $sunderIce;
                        width: 1px;
                        height: 0%;
                    }
                    &Links {
                        color: $sunderSnow;
                        font-size: $S-Text;
                        opacity: 0;
                        border-radius: 2rem;
                        padding: 0.4rem 1.2rem;
                    }
                }
            }
            .mapArea {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .map {
                    transform: translate(0, -36%);
                    opacity: 0;
                    width: 64%;
                    .USA {
                        width: 100%;
                        height: 100%;
                        .state {
                            fill: transparent;
                            stroke: $sunderIce;
                            transition: 0.2s ease;
                            // &:hover {
                            //     fill: lightgoldenrodyellow;
                            // }
                        }
                        // .UT {
                        //     fill: $pending;
                        //     fill: $active;
                        // }
                    }
                }
                .compass {
                    // border: 2px solid green;
                    width: calc(10rem + 6vw);
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    h5 {
                        font-family: $satoshi;
                        font-size: $S-Text;
                        font-weight: 400;
                        color: $sunderSnow;
                        display: flex;
                        align-items: center;
                        .circle {
                            width: 0.8rem;
                            height: 0.8rem;
                            border-radius: 50%;
                            margin-right: 0.4rem;
                        }
                    }
                    .active {
                        .circle {
                            background: $active;
                        }
                    }
                    .pending {
                        .circle {
                            background: $pending;
                        }
                    }
                }
                .stateCount {
                    // border: 2px solid coral;
                    position: absolute;
                    bottom: 20%;
                    right: 6%;
                    text-align: right;                
                    color: $sunderSnow;
                    opacity: 0;
                    #numberContainer {
                        // border: 1px solid coral;
                        overflow: hidden;
                        height: 7rem;
                    }
                    .number {
                        font-family: $monument;
                        font-size: calc(2.8rem + 2.8vw);
                        font-weight: 450;
                        &::selection {
                            background: $sunderRoyalLight;
                            color: $sunderSnow;
                        }
                    }
                    .title {
                        font-family: $satoshi;
                        font-size: $XL-Text;
                        font-weight: 400;
                        &::selection {
                            background: $sunderRoyalLight;
                            color: $sunderSnow;
                        }
                    }
                }
            }
        }

        .growthAnchors {
            // border: 2px dashed coral;
            position: absolute;
            top: 39%;
            width: 100%;
            height: calc(100vh + 54%);
            z-index: -1;
            #anchor2019 {
                // background: coral;
                position: absolute;
                top: 10%;
                width: 12rem;
                height: 1rem;
            }
            #anchor2020 {
                @extend #anchor2019;
                top: 25%;
            }
            #anchor2021 {
                @extend #anchor2019;
                top: 40%;
            }
            #anchor2022 {
                @extend #anchor2019;
                top: 55%;
            }
        }


        &Active {
            transform: translate(0, -50vh);
        }
    }
}

// @media (max-width: 768px) {
//     .opportunity {

//         .mainContent{
//             .header {
//                 h1 {
//                     .smartBreak {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }