$active: #4693D4;
$pending: #BCD0D7;

.opportunity {
    // GLOBAL COMPONENTS
    .logo {
        position: absolute;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
    }
    // GLOBAL COMPONENTS

    .mainContent {
        position: relative;
        background: $sunderSnow;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;

        .header {
            // border: 2px dashed coral;
            position: relative;
            // height: clamp(42rem, 100vh, 72rem);
            height: clamp(38rem, 100vh, 48rem);
            margin: 6.4rem 2.4rem;
            > * {
                position: absolute;
                transform: translate(0, -2.4rem);
            }
            h1 {
                // font-size: calc(1.8rem + 3.6vw);
                font-size: calc(0.1rem + 5.6vw);
                font-weight: 450;
                bottom: 1.2rem;
                left: 2.4rem;
                color: $sunderSnow;
                z-index: 2;
                mix-blend-mode: difference;
            }
            .cta {
                top: -2rem;
                right: 0;
                opacity: 0;
                animation: appear 0.6s ease 0.6s forwards;
                // See Globals for the rest
                &::before {
                    content: 'Join The Squad';
                    color: $sunderMidnight;
                    font-size: $S-Text;
                }
                .ctaCircle {
                    background: $sunderRoyalLight;
                }

                &:hover {
                    border: 1px solid $sunderRoyalLight;
                    &::before {
                        color: $sunderSnow;
                    }
                }
            }
            .repsImg {
                bottom: 0;
                right: 0;
                // width: 46%;
                width: clamp(4rem, 44%, 46rem);
                pointer-events: none;
            }
            .shape {
                bottom: 0;
                right: 0;
                width: 100%;
                // height: 68%;
                height: 38vw;
                height: clamp(12rem, 38vw, 36rem);
                border-radius: 0 3.2rem 0 3.2rem;
                background: #080808;
            }
        }

        .quoteSection {
            // border: 2px dashed coral;
            padding: 8rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .quote1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10%;
                .imgWrapper {
                    position: relative;
                    // padding: calc(12rem + 4vw);
                    padding: calc(8rem + 6vw);
                    border-radius: 3.2rem;
                    overflow: hidden;
                    .quoteImg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .imgCaption {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: linear-gradient(0deg, #2d2d2dca 20%, #2d2d2d00);
                        width: 100%;
                        padding: 2rem;
                        > * {
                            font-family: $monument;
                            color: $sunderSnow;
                        }
                        .name {
                            font-size: $M-Text;
                            font-weight: 675;
                            // font-weight: 800;
                            .lastName {
                                font-size: $XL-Text;
                            }
                        }
                        .position {
                            font-size: $S-Text;
                            font-weight: 450;
                        }
                    }
                }
                .quoteWrapper {
                    // border: 2px solid $sunderMidnight;
                    // width: 38%;
                    width: 42%;
                    // height: 56%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    > * {
                        padding-left: 2rem;
                    }
                    .quote {
                        // border-bottom: 2px solid $sunderMidnight;
                        font-family: $monument;
                        font-size: $M-Text;
                        font-weight: 675;
                        padding-bottom: 2rem;
                    }
                    .blockquote {
                        font-size: $M-Text;
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                }
            }
            .quoteDivider {
                margin: 4rem;
                height: calc(12rem + 6vw);
                border-right: 1px solid $sunderMidnight;
            }
            .quote2 {
                @extend .quote1;
                flex-direction: row-reverse;
            }
        }

        .cardsSection {
            width: 100%;
            height: clamp(48rem, 100vh, 92rem);
            padding: 2.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(1rem + 1vw);
            overflow: hidden;
            z-index: 2;
            .repCard {
                position: relative;
                background: $sunderSnow;
                width: 32%;
                height: 98%;
                border-radius: 3.2rem;
                overflow: hidden;
                > * {
                    position: absolute;
                    width: 100%;
                }
                .repImg {
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 40%;
                }
                .cardText {
                    // border: 2px dashed yellow;
                    background: linear-gradient(15deg, #000000, #00000000 60%);
                    bottom: 0;
                    height: 100%;
                    z-index: 2;
                    color: $sunderSnow;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 0 0 1.2rem 3.2rem;
                    .list {
                        margin-bottom: 1.2rem;
                        li {
                            font-size: $M-Text;
                        }
                    }
                    .name {
                        font-family: $monument;
                        font-size: $M-Text;
                        font-weight: 675;
                        .lastName {
                            font-size: $XL-Text;
                        }
                    }
                }
            }
        }

        .videoSection {
            // border: 2px dashed yellow;
            position: relative;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            > * {
                position: absolute;
            }
            h2 {
                color: $sunderSnow;
                font-size: $Hero-Text;
            }
            .text1 {
                top: 50%;
                left: 50%;
                transform: translate(-89%, -75%);
            }
            .text2 {
                bottom: 50%;
                right: 50%;
                transform: translate(89%, 75%);
                text-align: right;
            }
            .definitionVideo {
                // border: 2px solid coral;
                opacity: 0;
                width: 60%;
                top: 50%;
                left: 50%;
                scale: 0.2;
                translate: -50% -50%;
                // transform: translate(-50%, -50%);
            }
        }

        .growth {
            // border: 2px dashed coral;
            height: 100vh;
            display: flex;
            .numberArea {
                // border: 2px dashed coral;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transform: translate(20%, 0);
                padding-bottom: calc(2rem + 4vw);
                #growthTitle {
                    color: $sunderSnow;
                    font-size: $L-Text;
                    font-weight: 450;
                    opacity: 0;
                }
                .timeline {
                    // background-color: lightblue;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 56%;
                    transform: translate(0, 6%);
                    &Border {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(calc(4rem + 2vw), -10%);
                        background: $sunderIce;
                        width: 1px;
                        height: 0%;
                    }
                    &Links {
                        color: $sunderSnow;
                        font-size: $M-Text;
                        text-align: center;
                        opacity: 0;
                        border-radius: 4rem;
                        padding: 0.4rem 1.2rem;
                    }
                }
            }
            .mapArea {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .map {
                    transform: translate(0, -36%);
                    opacity: 0;
                    // width: 64%;
                    width: clamp(12rem, 64%, 82rem);
                    .USA {
                        width: 100%;
                        height: 100%;
                        .state {
                            fill: transparent;
                            stroke: $sunderIce;
                            transition: 0.2s ease;
                            // &:hover {
                            //     fill: lightgoldenrodyellow;
                            // }
                        }
                        // .UT {
                        //     fill: $pending;
                        //     fill: $active;
                        // }
                    }
                }
                .compass {
                    // border: 2px solid green;
                    width: calc(10rem + 6vw);
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    h5 {
                        font-family: $satoshi;
                        font-size: $S-Text;
                        font-weight: 400;
                        color: $sunderSnow;
                        display: flex;
                        align-items: center;
                        .circle {
                            width: 0.8rem;
                            height: 0.8rem;
                            border-radius: 50%;
                            margin-right: 0.4rem;
                        }
                    }
                    .active {
                        .circle {
                            background: $active;
                        }
                    }
                    .pending {
                        .circle {
                            background: $pending;
                        }
                    }
                }
                .stateCount {
                    // border: 2px solid coral;
                    position: absolute;
                    bottom: 20%;
                    right: 6%;
                    text-align: right;                
                    color: $sunderSnow;
                    opacity: 0;
                    #numberContainer {
                        // border: 1px solid coral;
                        overflow: hidden;
                        height: 7rem;
                    }
                    .number {
                        font-family: $monument;
                        font-size: calc(2.8rem + 2.8vw);
                        font-weight: 450;
                        &::selection {
                            background: $sunderRoyalLight;
                            color: $sunderSnow;
                        }
                    }
                    .title {
                        font-family: $satoshi;
                        font-size: $XL-Text;
                        font-weight: 400;
                        &::selection {
                            background: $sunderRoyalLight;
                            color: $sunderSnow;
                        }
                    }
                }
            }
        }

        .growthAnchors {
            // border: 2px dashed coral;
            position: absolute;
            top: 44%;
            width: 100%;
            height: calc(100vh + 32%);
            z-index: -1;
            #anchor2019 {
                // background: coral;
                position: absolute;
                top: 10%;
                width: 12rem;
                height: 1rem;
            }
            #anchor2020 {
                @extend #anchor2019;
                top: 26%;
            }
            #anchor2021 {
                @extend #anchor2019;
                top: 42%;
            }
            #anchor2022 {
                @extend #anchor2019;
                top: 60%;
            }
        }

        .dataSections {
            position: relative;
            width: 100vw;
            // height: clamp(26rem, 124vh, 96rem);
            height: clamp(64rem, 146vh, 112rem);
            overflow: hidden;
            .gridBg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .sectionTitle {
                // border: 2px dashed coral;
                position: absolute;
                top: 6rem;
                left: 4%;
                width: 20%;
                z-index: 1;
                display: flex;
                // justify-content: center;
                h2 {
                    color: $sunderMidnight;
                    font-size: $L-Text;
                    font-weight: 450;
                    text-align: left;
                }
            }
        }

        .salesForce {
            background: #E3E3E3;
            .sectionTitle {
                transform: translate(20%, 0);
                h2 {
                    color: $sunderMidnight;
                }
            }
            .barGraph {
                // border: 4px dashed coral;
                position: absolute;
                top: 50%;
                left: 50%;
                // transform: translate(-50%, -100%);
                transform: translate(-50%, -50%);
                // width: clamp(16rem, 80vw, 72rem);
                width: clamp(16rem, 82vw, 97rem);
                height: clamp(16rem, 40vw, 48rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                .bars {
                    // border: 2px solid coral;
                    width: 100%;
                    height: 86%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: flex-end;

                    .bar {
                        background: linear-gradient(180deg, #0093D4 10%, #0093D400);
                        width: calc(2rem + 1vw);
                        height: 0%;
                        border-radius: 12rem 12rem 0 0;
                        .barMultiplier {
                            color: #0093D4;
                            font-family: $monument;
                            opacity: 0;
                            span {
                                display: block;
                                font-size: $M-Text;
                                font-weight: 400;
                                transform: translate(0, -40%);
                            }
                        }
                        &:nth-of-type(2) {
                            .barMultiplier {
                                font-size: $L-Text;
                                transform: translate(-240%, 0);
                            }
                        }
                        &:nth-of-type(3) {
                            .barMultiplier {
                                font-size: $XL-Text;
                                transform: translate(-300%, 0);
                            }
                        }
                        &:nth-of-type(4) {
                            .barMultiplier {
                                font-size: $Hero-Text;
                                transform: translate(-400%, 0);
                                font-weight: 675;
                            }
                        }
                    }
                }
                .key {
                    width: 100%;
                    height: 14%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    .year {
                        font-size: $M-Text;
                        font-weight: 600;
                    }
                }
            }
        }

        .kwInstalled {
            background: $sunderMidnight;
            // height: clamp(26rem, 124vh, 96rem);
            .sectionTitle {
                transform: translate(20%, 0);
                h2 {
                    color: $sunderSnow;
                }
            }
            .lineGraph {
                // border: 2px dashed yellow;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -56%) scale(0.81);
                width: clamp(16rem, 64vw, 86rem);
                height: clamp(16rem, 40vw, 48rem);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 1;
                opacity: 0;
                > * {
                    position: absolute;
                    width: 100%;
                    transform: translate(0, -10%);
                }
                .line {
                    .pathActive {
                        -webkit-animation: drawPath-1 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                                animation: drawPath-1 1.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                    }
                    @-webkit-keyframes drawPath-1 {
                        0% {
                        stroke-dashoffset: 1521.593505859375px;
                        stroke-dasharray: 1521.593505859375px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 1521.593505859375px;
                        }
                    }
                    @keyframes drawPath-1 {
                        0% {
                        stroke-dashoffset: 1521.593505859375px;
                        stroke-dasharray: 1521.593505859375px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 1521.593505859375px;
                        }
                    }
                }
                .points {
                    .point1Active {
                        -webkit-animation: drawPoint1 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                                            animate-svg-fill-1 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                                animation: drawPoint1 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both,
                                    animate-svg-fill-1 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                    }
                    @-webkit-keyframes drawPoint1 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    @keyframes drawPoint1 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    .point2Active {
                        -webkit-animation: drawPoint2 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both,
                                            animate-svg-fill-2 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
                                animation: drawPoint2 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.3s both,
                                    animate-svg-fill-2 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0.6s both;
                    }
                    @-webkit-keyframes drawPoint2 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    @keyframes drawPoint2 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    // @-webkit-keyframes animate-svg-fill-2 {
                    //     0% {
                    //     fill: transparent;
                    //     }
                    
                    //     100% {
                    //     fill: rgb(54, 54, 54);
                    //     }
                    // }
                    // @keyframes animate-svg-fill-2 {
                    //     0% {
                    //     fill: transparent;
                    //     }
                    
                    //     100% {
                    //     fill: rgb(54, 54, 54);
                    //     }
                    // }
                    .point3Active {
                        -webkit-animation: drawPoint3 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both,
                                            animate-svg-fill-3 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                                animation: drawPoint3 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 0.7s both,
                                    animate-svg-fill-3 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                    }
                    @-webkit-keyframes drawPoint3 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    @keyframes drawPoint3 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    // @-webkit-keyframes animate-svg-fill-3 {
                    //     0% {
                    //     fill: transparent;
                    //     }
                    
                    //     100% {
                    //     fill: rgb(54, 54, 54);
                    //     }
                    // }
                    // @keyframes animate-svg-fill-3 {
                    //     0% {
                    //     fill: transparent;
                    //     }
                    
                    //     100% {
                    //     fill: rgb(54, 54, 54);
                    //     }
                    // }
                    .point4Active {
                        -webkit-animation: drawPoint4 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both,
                                            animate-svg-fill-4 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                                animation: drawPoint4 0.4s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both,
                                    animate-svg-fill-4 0s cubic-bezier(0.47, 0, 0.745, 0.715) 0s both;
                    }
                    @-webkit-keyframes drawPoint4 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                    @keyframes drawPoint4 {
                        0% {
                        stroke-dashoffset: 118.23892818282235px;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    
                        100% {
                        stroke-dashoffset: 0;
                        stroke-dasharray: 118.23892818282235px;
                        }
                    }
                }
                .kwData {
                    // border: 2px solid white;
                    height: 100%;
                    .dataPiece {
                        position: absolute;
                        color: $sunderSnow;
                        font-size: $L-Text;
                        font-weight: 100;
                        transform: translate(20%, 0);
                        opacity: 0;
                        &:nth-of-type(1) {
                            bottom: 12%;
                            left: -4%;
                        }
                        &:nth-of-type(2) {
                            bottom: 38%;
                            left: 26%;
                        }
                        &:nth-of-type(3) {
                            top: 22%;
                            right: 26%;
                        }
                        &:nth-of-type(4) {
                            top: -16%;
                            right: -8%;
                        }
                    }
                }
                .key {
                    // border: 2px dashed coral;
                    bottom: 0;
                    transform: translate(0, 60%);
                    display: flex;
                    justify-content: space-between;
                    .year {
                        color: $sunderSnow;
                        font-size: $L-Text;
                        font-weight: 600;
                    }
                }
            }
            .pageFooter {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 90%;
                // height: 24%;
                // height: clamp(12rem, 19%, 36rem);
                height: clamp(8rem, 12%, 24rem);
                // background: linear-gradient(90deg, red, blue);
                background: linear-gradient(90deg, $sunderMidnight 10%, #0C5FF2);
                z-index: 2;
                display: flex;
                align-items: center;
                border-radius: 3.2rem 3.2rem 0 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 4rem;
                .cta {
                    position: relative;
                    width: calc(8rem + 4vw);
                    height: calc(2rem + 1vw);
                    border: 1px solid $sunderSnow;
                    opacity: 0;
                    animation: appear 0.6s ease 0.6s forwards;
                    // See Globals for the rest
                    &::before {
                        content: 'Join The Squad';
                        color: $sunderSnow;
                        font-size: $S-Text;
                    }
                    .ctaCircle {
                        background: $sunderSnow;
                    }
    
                    &:hover {
                        // border: 1px solid $sunderRoyalLight;
                        &::before {
                            color: $sunderRoyalLight;
                        }
                    }
                }
                .footerImg {
                    position: absolute;
                    bottom: 0;
                    right: -2%;
                    width: 16%;
                }
            }
        }


        &Active {
            transform: translate(0, -50vh);
        }
    }
}

@media (min-width: 2048px) {
    .opportunity {
        .mainContent{
            .header {
                // border: 2px solid blue;
                height: 56rem;
                .cta {
                    width: 14rem; 
                    height: 3.2rem;
                    &::before {
                        font-size: 1.4rem;
                    }
                }
                h1 {
                    font-size: 6.4rem;
                }
                .repsImg {
                    width: 56rem;
                }
            }
            .growth {
                .mapArea {
                    .stateCount {
                        .number {
                            font-size: 6.4rem;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1500px) {
    .opportunity {
        .mainContent{
            .header {
                h1 {
                    font-size: 5.4rem;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .opportunity {
        .mainContent{
            .header {
                // background: lightblue;
                height: 42rem;
            }
        }
    }
}

@media (max-width: 1024px) {
    .opportunity {
        .mainContent{
            .header {
                // border: 2px dashed burlywood;
                height: clamp(42rem, 100vh, 49rem);

                h1 {
                    font-size: calc(1.8rem + 3.6vw);
                    // font-size: calc(3.6rem + 1vw);
                    font-size: 4.2rem;
                }
                .repsImg {
                    display: none;
                }
                .shape {
                    // bottom: 0;
                    // right: 0;
                    // width: 100%;
                    height: 68%;
                    // height: 80%;
                    // border-radius: 0 2rem 0 2rem;
                    // background: #080808;
                }
            }

            .cardsSection {
                border: 2px dashed coral;
                // width: 100%;
                height: clamp(24rem, 100vh, auto);
                // padding: 2.4rem;
                // display: flex;
                // justify-content: space-between;
                // align-items: center;
                // gap: calc(1rem + 1vw);
                // overflow: hidden;
                flex-wrap: nowrap;
                overflow-x: scroll;
                // z-index: 2;
                .repCard {
                    flex: 0 0 auto;
                    // position: relative;
                    // background: $sunderSnow;
                    // width: 32%;
                    width: 24rem;
                    // height: 92%;
                    border-radius: 2rem;
                    overflow: hidden;
                    > * {
                        position: absolute;
                        width: 100%;
                    }
                    .repImg {
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 40%;
                    }
                    .cardText {
                        // border: 2px dashed yellow;
                        background: linear-gradient(15deg, #000000, #00000000 60%);
                        // background: linear-gradient(20deg, red, blue 50%);
                        bottom: 0;
                        height: 100%;
                        z-index: 2;
                        color: $sunderSnow;
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        align-items: flex-start;
                        padding: 0 0 1.2rem 3.2rem;
                        .list {
                            // border: 1px solid coral;
                            margin-bottom: 1.2rem;
                            li {
                                font-size: $M-Text;
                            }
                        }
                        .name {
                            font-family: $monument;
                            font-size: $M-Text;
                            font-weight: 675;
                            .lastName {
                                font-size: $XL-Text;
                            }
                        }
                    }
                }
            }

            .growth {
                border: 2px dashed burlywood;
                .mapArea {
                    .stateCount {
                        .number {
                            border: 2px solid blue;
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width: 768px) {
//     .opportunity {

//         .mainContent{
//             .header {
//                 h1 {
//                     .smartBreak {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }