$active: #4693D4;
$pending: #BCD0D7;

.opportunity {
    // GLOBAL COMPONENTS
    .logo {
        position: absolute;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
    }
    // GLOBAL COMPONENTS

    .mainContent {
        position: relative;
        background: $sunderSnow;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;

        .header {
            position: relative;
            height: clamp(42rem, 100vh, 72rem);
            // height: clamp(42rem, 100vh, 60rem);
            padding: 2.4rem;
            > * {
                position: absolute;
            }
            h1 {
                font-size: calc(2rem + 3vw);
                font-weight: 450;
                bottom: 2.4rem;
                left: 4.8rem;
                color: $sunderSnow;
                z-index: 2;
                mix-blend-mode: difference;
                // .black {
                //     color: $sunderMidnight;
                // }
            }
            .cta {
                top: 2.4rem;
                right: 2.4rem;
                opacity: 0;
                animation: appear 0.6s ease 0.6s forwards;
                // See Globals for the rest
                &::before {
                    content: 'Join The Squad';
                    color: $sunderMidnight;
                    font-size: $S-Text;
                }
                .ctaCircle {
                    background: $sunderRoyalLight;
                }

                &:hover {
                    border: 1px solid $sunderRoyalLight;
                    &::before {
                        color: $sunderSnow;
                    }
                }
            }
            .repsImg {
                bottom: 2.4rem;
                right: 2.4rem;
                width: 40%;
            }
            .shape {
                bottom: 2.4rem;
                right: 2.4rem;
                width: 96%;
                height: 60%;
                border-radius: 0 2rem 0 2rem;
                // background: $sunderMidnight;
                background: #080808;
            }
            
        }

        .quoteSection {
            // border: 2px dashed coral;
            padding: 8rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .quote1 {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 10%;
                .imgWrapper {
                    position: relative;
                    // padding: calc(12rem + 4vw);
                    padding: calc(10rem + 6vw);
                    border-radius: 2rem;
                    overflow: hidden;
                    .quoteImg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .imgCaption {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: linear-gradient(0deg, #2d2d2dca 20%, #2d2d2d00);
                        width: 100%;
                        padding: 2rem;
                        > * {
                            font-family: $monument;
                            color: $sunderSnow;
                        }
                        .name {
                            font-size: $L-Text;
                            font-weight: 675;
                            // font-weight: 800;
                            .lastName {
                                font-size: $XXL-Text;
                            }
                        }
                        .position {
                            font-size: $M-Text;
                            font-weight: 450;
                        }
                    }
                }
                .quoteWrapper {
                    // border-left: 2px solid $sunderMidnight;
                    width: 42%;
                    // height: 56%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    > * {
                        padding-left: 2rem;
                    }
                    .quote {
                        // border-bottom: 2px solid $sunderMidnight;
                        font-family: $monument;
                        font-size: $L-Text;
                        font-weight: 675;
                        padding-bottom: 2rem;
                    }
                    .blockquote {
                        font-size: $L-Text;
                        padding-top: 2rem;
                        padding-bottom: 2rem;
                    }
                }
            }
            .quoteDivider {
                margin: 4rem;
                height: calc(12rem + 6vw);
                border-right: 1px solid $sunderMidnight;
            }
            .quote2 {
                @extend .quote1;
                flex-direction: row-reverse;
            }
        }

        .cardsSection {
            width: 100%;
            height: clamp(24rem, 100vh, 64rem);
            padding: 2.4rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: calc(1rem + 1vw);
            overflow: hidden;
            z-index: 2;
            .repCard {
                position: relative;
                background: $sunderSnow;
                width: 32%;
                height: 92%;
                border: 1px solid #bbb;
                // border-radius: 1.6rem;
                border-radius: 2rem;
                overflow: hidden;
                > * {
                    position: absolute;
                    width: 100%;
                }
                .repImg {
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 40%;
                }
                .cardText {
                    // border: 2px dashed yellow;
                    background: linear-gradient(15deg, #000000, #00000000 60%);
                    // background: linear-gradient(20deg, red, blue 50%);
                    bottom: 0;
                    height: 100%;
                    z-index: 2;
                    color: $sunderSnow;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-start;
                    padding: 0 0 1.2rem 3.2rem;
                    .list {
                        // border: 1px solid coral;
                        margin-bottom: 1.2rem;
                        li {
                            font-size: $M-Text;
                        }
                    }
                    .name {
                        font-family: $monument;
                        font-size: $M-Text;
                        font-weight: 675;
                        .lastName {
                            font-size: $XL-Text;
                        }
                    }
                }
            }
        }

        .videoSection {
            // border: 2px dashed yellow;
            position: relative;
            width: 100vw;
            height: 100vh;
            overflow: hidden;
            > * {
                position: absolute;
            }
            h2 {
                color: $sunderSnow;
                font-size: $XXL-Text;
            }
            .text1 {
                top: 50%;
                left: 50%;
                transform: translate(-89%, -75%);
            }
            .text2 {
                bottom: 50%;
                right: 50%;
                transform: translate(89%, 75%);
            }
            .definitionVideo {
                // border: 2px solid coral;
                opacity: 0;
                width: 60%;
                top: 50%;
                left: 50%;
                scale: 0.2;
                translate: -50% -50%;
                // transform: translate(-50%, -50%);
            }
        }

        .growth {
            // border: 2px dashed coral;
            height: 100vh;
            display: flex;
            .numberArea {
                // border: 2px dashed coral;
                width: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                transform: translate(20%, 0);
                padding-bottom: calc(2rem + 4vw);
                #growthTitle {
                    color: $sunderSnow;
                    font-size: $L-Text;
                    font-weight: 450;
                    opacity: 0;
                }
                .timeline {
                    // background-color: lightblue;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 56%;
                    transform: translate(0, 6%);
                    &Border {
                        position: absolute;
                        top: 0;
                        right: 0;
                        transform: translate(calc(4rem + 2vw), -10%);
                        background: $sunderIce;
                        width: 1px;
                        height: 0%;
                    }
                    &Links {
                        color: $sunderSnow;
                        font-size: $M-Text;
                        text-align: center;
                        opacity: 0;
                        border-radius: 2rem;
                        padding: 0.4rem 1.2rem;
                    }
                }
            }
            .mapArea {
                height: 100%;
                width: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .map {
                    transform: translate(0, -36%);
                    opacity: 0;
                    width: 64%;
                    .USA {
                        width: 100%;
                        height: 100%;
                        .state {
                            fill: transparent;
                            stroke: $sunderIce;
                            transition: 0.2s ease;
                            // &:hover {
                            //     fill: lightgoldenrodyellow;
                            // }
                        }
                        // .UT {
                        //     fill: $pending;
                        //     fill: $active;
                        // }
                    }
                }
                .compass {
                    // border: 2px solid green;
                    width: calc(10rem + 6vw);
                    display: flex;
                    justify-content: space-between;
                    opacity: 0;
                    h5 {
                        font-family: $satoshi;
                        font-size: $S-Text;
                        font-weight: 400;
                        color: $sunderSnow;
                        display: flex;
                        align-items: center;
                        .circle {
                            width: 0.8rem;
                            height: 0.8rem;
                            border-radius: 50%;
                            margin-right: 0.4rem;
                        }
                    }
                    .active {
                        .circle {
                            background: $active;
                        }
                    }
                    .pending {
                        .circle {
                            background: $pending;
                        }
                    }
                }
                .stateCount {
                    // border: 2px solid coral;
                    position: absolute;
                    bottom: 20%;
                    right: 6%;
                    text-align: right;                
                    color: $sunderSnow;
                    opacity: 0;
                    #numberContainer {
                        // border: 1px solid coral;
                        overflow: hidden;
                        height: 7rem;
                    }
                    .number {
                        font-family: $monument;
                        font-size: calc(2.8rem + 2.8vw);
                        font-weight: 450;
                        &::selection {
                            background: $sunderRoyalLight;
                            color: $sunderSnow;
                        }
                    }
                    .title {
                        font-family: $satoshi;
                        font-size: $XL-Text;
                        font-weight: 400;
                        &::selection {
                            background: $sunderRoyalLight;
                            color: $sunderSnow;
                        }
                    }
                }
            }
        }

        .growthAnchors {
            // border: 2px dashed coral;
            position: absolute;
            top: 44%;
            width: 100%;
            height: calc(100vh + 32%);
            z-index: -1;
            #anchor2019 {
                // background: coral;
                position: absolute;
                top: 15%;
                width: 12rem;
                height: 1rem;
            }
            #anchor2020 {
                @extend #anchor2019;
                top: 32%;
            }
            #anchor2021 {
                @extend #anchor2019;
                top: 49%;
            }
            #anchor2022 {
                @extend #anchor2019;
                top: 66%;
            }
        }

        .dataSections {
            position: relative;
            width: 100vw;
            height: clamp(26rem, 112vh, 64rem);
            overflow: hidden;
            .gridBg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .sectionTitle {
                // border: 2px dashed coral;
                position: sticky;
                top: 4rem;
                left: 0;
                transform: translate(20%, 0);
                width: 20%;
                z-index: 1;
                display: flex;
                justify-content: center;
                h2 {
                    color: $sunderMidnight;
                    font-size: $L-Text;
                    font-weight: 450;
                    text-align: left;
                }
            }
        }

        .salesForce {
            background: #E3E3E3;
            .sectionTitle {
                h2 {
                    color: $sunderMidnight;
                }
            }
        }

        .kwInstalled {
            background: #363636;
            .sectionTitle {
                h2 {
                    color: $sunderSnow;
                }
            }
        }


        &Active {
            transform: translate(0, -50vh);
        }
    }
}

// @media (max-width: 768px) {
//     .opportunity {

//         .mainContent{
//             .header {
//                 h1 {
//                     .smartBreak {
//                         display: none;
//                     }
//                 }
//             }
//         }
//     }
// }