.resources {
    // GLOBAL COMPONENTS
    .logo {
        position: absolute;
        animation-delay: 0.4s;
    }
    .navLogo {
        position: fixed;
    }
    .burgerContainer {
        animation-delay: 0.6s;
        // display: none;
    }
    .videoContainerEnzy {
        .videoWrapper {
            // border: 2px dashed coral;
            width: 24vw;
            transform: translate(0, -6%);
        }
    }
    // GLOBAL COMPONENTS

    .mainContent {
        background: $sunderSnow;
        width: 100vw;
        // height: clamp(26rem, 100dvh, 64rem);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
        // overflow-x: hidden;

        .cta {
            position: absolute;
            top: 2.4rem;
            right: 2.4rem;
            opacity: 0;
            animation: appear 0.6s ease 0.6s forwards;
            &::before {
                content: 'Join The Squad';
                color: $sunderMidnight;
                font-size: $S-Text;
            }
            .ctaCircle {
                background: $sunderRoyalLight;
            }
            &:hover {
                border: 1px solid $sunderRoyalLight;
                &::before {
                    color: $sunderSnow;
                }
            }
        }

        .productivity {
            // border: 2px dashed coral;
            width: 100vw;
            height: auto;
            padding-left: 2.4rem;
            .smartHeader {
                width: 80%;
                position: sticky;
                top: 50%;
                transform: translate(0, -50%);
                transform: translate(8%, -50%) scale(1.1);
                h1 {
                    font-size: calc(0.2rem + 3.6vw);
                    font-weight: 675;
                    margin-bottom: 2rem;
                }
                h2 {
                    font-size: calc(0.2rem + 1.8vw);
                    font-weight: 400;
                }
                .textWrapper {
                    display: inline-block;
                    &:nth-of-type(1) {
                        // border: 2px dashed coral;
                        transform: translate(0, 1600%);
                    }
                    &:nth-of-type(2) {
                        // border: 2px dashed coral;
                        transform: translate(0, 3200%);
                    }
                }
            }
            .images {
                // border: 2px dashed coral;
                float: right;
                display: flex;
                flex-direction: column;
                gap: 4.8rem;
                transform: translate(0, -4%);
                .imgWrapper {
                    background: $sunderIce;
                    width: calc(4rem + 34vw);
                    height: calc(28rem + 28vw);
                    border-radius: calc(0.4rem + 0.2vw) 0 0 calc(0.4rem + 0.2vw);
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }

        .meetTheTeam {
            // border: 2px dashed coral;
            width: 100vw;
            height: 200vh;
            .content {
                // border: 2px dashed violet;
                position: relative;
                width: 100vw;
                height: 100vh;
                .row, .column {
                    position: absolute;
                    display: inline-block;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;
                    h2 {
                        font-size: $XXL-Text;
                        font-weight: 200;
                    }
                }
                .row {
                    // border: 2px solid blue;
                    display: flex;
                    justify-content: space-between;
                    width: calc(10rem + 36vw); // HQ width
                    // width: calc(10rem + 41vw); // Best width
                    // width: calc(10rem + 46vw); // Dream width
                    // width: calc(10rem + 48vw); // Sunder width
                    transform: translate(-49%, -50%);
                    padding: 1.4rem;
                    z-index: 2;
                    &::before,
                    &::after {
                        // border: 1px dashed coral;
                        content: "";
                        position: absolute;
                        left: 6%;
                        width: 100%;
                        height: 48vh;
                        z-index: 2;
                    }
                    &::before {
                        top: 2.4rem;
                        background: linear-gradient(0deg, #ff000000 2%, $sunderSnow 12%);
                        // transform: translate(calc(-1.9rem - 1.5vw), -100%);
                        transform: translate(calc(-2.4rem - 1.8vw), -100%);
                    }
                    &::after {
                        bottom: 2.4rem;
                        background: linear-gradient(180deg, #ff000000 2%, $sunderSnow 12%);
                        // transform: translate(calc(-1.9rem - 1.5vw), 100%);
                        transform: translate(calc(-2.4rem - 1.8vw), 100%);
                    }
                }
                .column {
                    // border: 1px dashed coral;
                    height: calc(12rem + 14vw); // Super Responsive
                    left: 50%;
                    transform: translate(-36%, calc(0.2vw - 12%));
                    // transform: translate(-24%, -12%);
                    // transform: translate(-24%, -37%);
                    // transform: translate(-24%, -63%);
                    // transform: translate(-24%, -88%);
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    h2 {
                        // background: blue;
                        font-weight: 675;
                    }
                }
            }
            .responsiveContent {
                display: none;
            }
        }

        .reel {
            // border: 2px dashed violet;
            height: calc(65rem + 69vw); // Without the parallax, this height is responsive (ends at) the 2 & 4 column's sixth picture.
            width: 100vw;
            display: flex;
            gap: 1.6rem;
            justify-content: space-between;
            transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
            overflow: hidden;
            
            .columnOuter {
                // border: 2px dashed yellow;
              width: 25%;
              transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
                &:nth-of-type(2),
                &:nth-of-type(4) {
                    transform: translate(0, 10%);
                }

              .reelImg {
                  position: relative;
                  height: calc(16rem + 16vw);
                  margin-bottom: calc(0.6rem + 1.2vw);
                  border-radius: calc(0.4rem + 0.4vw);
                  overflow: hidden;
                  img {
                      width: 100%;
                      height: 100%;
                      object-fit: cover;
                  }
                  figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 18%;
                    padding: 0.8rem 1.2rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    background: linear-gradient(0deg, #000000ac 24%, #00000000);
                    z-index: 2;
                    h4, h5 {
                        color: $sunderSnow;
                        font-family: $monument;
                        font-size: $S-Text;
                        font-weight: 675;
                    }
                    h5 {
                        font-size: $XS-Text;
                        font-weight: 200;
                    }
                  }
              }
    
              &Active {
                transform: translate(0, -50vh);
              }
            }
    
            &Active {
              position: absolute;
              right: 0;
            }
        }
        #reel-md,
        #reel-sm {
            display: none;
        }
        
        .enzy {
            position: relative;
            margin-top: 4rem;
            width: 100vw;
            background: linear-gradient(180deg, #6CA793, #6CA79300 140%);
            overflow: hidden;
            .enzyHero {
                position: relative;
                width: 100vw;
                height: clamp(36rem, 100vh, 64rem);
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                .cta2Aside {
                    width: 36%;
                    // height: 50vh;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 1;
                    .enzyLogo {
                        width: calc(8rem + 24vw);
                        margin-bottom: 2rem;
                    }
                    .cta2 {
                        position: relative;
                        background: linear-gradient(90deg, #6DA8944d, #6EA89570);
                        color: transparent;
                        border: 1px solid $enzyHero;
                        display: flex;
                        cursor: pointer;
                        width: calc(6.8rem + 6.8vw);
                        height: calc(2.4rem + 1vw);
                          &::before {
                            content: 'Play Video';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-56%, -50%);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 100%;
                            z-index: 1;
                            color: $sunderSnow;
                            font-size: $M-Text;
                        }
                        .playIconFrame {
                          width: calc(1rem + 1vw);
                          height: calc(1rem + 1vw);
                          border-radius: 50%;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                        //   transform: translate(5.2vw, 0.2rem);
                          transform: translate(calc(1rem + 4.2vw), 0.2rem);
                          overflow: hidden;
                          transition: transform 0.4s cubic-bezier(.05,.6,.56,1), opacity 0.2s ease;
                          .playIcon {
                            width: calc(0.6rem + 0.6vw);
                            height: calc(0.6rem + 0.6vw);
                          }
                          .playIcon1 {
                            transform: translate(-120%, 0);
                            animation: loopRight2 3.6s cubic-bezier(.6,0,.4,1) forwards infinite;
                          }
                          .playIcon2 {
                            transform: translate(-50%, 0);
                            animation: loopRight 3.6s cubic-bezier(.75,0,.25,1) forwards infinite;
                          }
                        }
                      }
                }
                .phonesWrapper {
                    width: 42%;
                    z-index: 1;
                    .phonesImg {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .subText {
                    position: absolute;
                    bottom: 50%;
                    right: 12vw;
                    transform: translate(0, 280%);
                    z-index: 1;
                    h3 {
                        color: #262626;
                        font-family: $saira;
                        font-size: $L-Text;
                        font-weight: 300;
                    }
                    .strong {
                        font-size: $Hero-Text;
                        font-weight: 700;
                        transform: translate(0, -24px);
                    }
                }
                .backgroundGlyph {
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, -47%);
                    width: 120%;
                    opacity: 0.5;
                }
            }
            .appUsage {
                // border: 2px dashed yellow;
                position: relative;
                width: 100vw;
                height: auto;
                // padding: 16rem 0;
                padding: 14rem 0 16rem 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: calc(1rem + 4vw);
                .block {
                    // border: 2px solid black;
                    position: relative;
                    width: 100%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .blockImg {
                        // width: 26%;
                        width: 24%;
                    }
                    .blockText {
                        text-align: center;
                        h3 {
                            color: #FAFAFA;
                            font-family: $saira;
                            font-size: $L-Text;
                            font-weight: 300;
                        }
                        .strong {
                            font-size: $Hero-Text;
                            font-weight: 700;
                        }
                    }
                    .linearDot {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: calc(0.6rem + 0.2vw);
                        height: calc(0.6rem + 0.2vw);
                        background: $sunderSnow;
                        border-radius: 50%;
                        z-index: 2;
                        &::before {
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-35%, -50%);
                            width: 2px;
                            height: clamp(38rem, 100vh, 100vh);
                            background: $sunderSnow;
                        }
                    }
                    .topDot {
                        &::before {
                            top: 0;
                            transform: translate(-35%, 2px);
                        }
                    }
                    .bottomDot {
                        &::before {
                            top: auto;
                            bottom: 0;
                            transform: translate(-35%, -2px);
                        }
                    }
                }
                .block2,
                .block4 {
                    flex-direction: row-reverse;
                }
            }
            .pageFooter {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 0);
                width: 90%;
                height: clamp(8rem, 8%, 11rem);
                background: linear-gradient(90deg, #BFD9D000 10%, #6DA894);
                display: flex;
                align-items: center;
                border-radius: 3.2rem 3.2rem 0 0;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding-right: 4rem;
                z-index: 2;
                .cta {
                    position: relative;
                    width: calc(8rem + 4vw);
                    height: calc(2rem + 1vw);
                    border: 1px solid $sunderSnow;
                    opacity: 0;
                    animation: appear 0.6s ease 0.6s forwards;
                    transform: translate(0, -60%);
                    // See Globals for the rest
                    &::before {
                        content: 'Join The Squad';
                        color: $sunderSnow;
                        font-size: $S-Text;
                    }
                    .ctaCircle {
                        background: $sunderSnow;
                    }
                    &:hover {
                        &::before {
                            color: $sunderRoyalLight;
                        }
                    }
                }
            }
        }

        &Active {
            transform: translate(0, -50vh);
        }
    }
}


@media (max-width: 1248px) {
    .resources {
        .mainContent {

            .productivity {
                padding-left: 1.2rem;
                .images {
                    transform: translate(0, -2%);
                }
            }

            .reel {
                gap: 1.2rem;
                height: calc(131rem + 135vw); // Without the parallax, this height is responsive (ends at) the 2 & 4 column's sixth picture.
                .columnOuter {
                    // border: 2px dashed yellow;
                  width: 32%;
                  &:nth-of-type(2) {
                      transform: translate(0, 5%);
                  }
                  &:nth-of-type(4) {
                    display: none;
                  }

                  .reelImg {
                    // height: calc(16rem + 16vw);
                    height: calc(18rem + 18vw);
                  }
                }
            }
            #reel-lg {
                display: none;
            }
            #reel-md {
                display: flex;
            }

            .enzy {
                .enzyHero {
                    .backgroundGlyph {
                        width: calc(72rem + 24vw);
                    }
                    .cta2Aside {
                        .cta2 {
                            .playIconFrame {
                                transform: translate(calc(1.2rem + 3.2vw), 0.2rem);
                            }
                        }
                    }
                    .subText {
                        transform: translate(0, 20rem);
                    }
                }
                .appUsage {
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 856px) {
    .resources {
        .mainContent {
            .reel {
                gap: 1rem;
                height: calc(188rem + 192vw); // Without the parallax, this height is responsive (ends at) the 2 & 4 column's sixth picture.
                .columnOuter {
                  width: 50%;
                  &:nth-of-type(2) {
                      transform: translate(0, 0);
                  }
                  &:nth-of-type(3) {
                    display: none;
                  }
                }
            }
            #reel-lg,
            #reel-md {
                display: none;
            }
            #reel-sm {
                display: flex;
            }
            .enzy {
                .enzyHero {
                    // border: 2px dashed coral;
                    > * {
                        transform: translate(0, -4.2rem);
                    }
                    .backgroundGlyph {
                        width: calc(64rem + 24vw);
                    }
                    .subText {
                        transform: translate(0, 14rem);
                    }
                }
                .appUsage {
                    // border: 2px dashed yellow;
                    // padding: 14rem 0 16rem 0;
                    padding: 4rem 0 16rem 0;
                    // gap: calc(1rem + 4vw);
                    .block {
                        .blockImg {
                            // width: 24%;
                            width: 36%;
                        }
                        .blockText {
                            h3 {
                                font-size: $M-Text;
                            }
                            .strong {
                                font-size: $Hero-Text;
                                // font-size: $XL-Text;
                            }
                        }
                        // .linearDot {
                        //     position: absolute;
                        //     top: 50%;
                        //     left: 50%;
                        //     transform: translate(-50%, -50%);
                        //     width: calc(0.6rem + 0.2vw);
                        //     height: calc(0.6rem + 0.2vw);
                        //     background: $sunderSnow;
                        //     border-radius: 50%;
                        //     z-index: 2;
                        //     // &::before {
                        //     //     content: '';
                        //     //     position: absolute;
                        //     //     top: 50%;
                        //     //     left: 50%;
                        //     //     transform: translate(-35%, -50%);
                        //     //     width: 2px;
                        //     //     height: clamp(38rem, 100vh, 100vh);
                        //     //     background: $sunderSnow;
                        //     // }
                        // }
                        // .topDot {
                        //     &::before {
                        //         top: 0;
                        //         transform: translate(-35%, 2px);
                        //     }
                        // }
                        // .bottomDot {
                        //     &::before {
                        //         top: auto;
                        //         bottom: 0;
                        //         transform: translate(-35%, -2px);
                        //     }
                        // }
                    }
                    // .block2,
                    // .block4 {
                    //     flex-direction: row-reverse;
                    // }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .resources {
        .mainContent {
            .productivity {
                margin-top: 10rem;
                .smartHeader {
                    display: none;
                }
                .images {
                    width: 100vw;
                    align-items: flex-end;
                    transform: translate(0, 0);
                    .imgWrapper {
                        // width: 68vw;
                        width: calc(12rem + 40vw);
                        height: calc(28rem + 28vw);
                        border-radius: calc(0.4rem + 0.2vw) 0 0 calc(0.4rem + 0.2vw);
                        &:nth-of-type(2) {
                            border-radius: 0 calc(0.4rem + 0.2vw) calc(0.4rem + 0.2vw) 0;
                            align-self: flex-start;
                        }
                    }
                }
            }

            .meetTheTeam {
                height: 100vh;
                margin: 2rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
                .content {
                    display: none;
                }
                .responsiveContent {
                    display: block;
                    text-align: center;
                    h1 {
                        font-size: $Hero-Text;
                        font-weight: 675;
                        margin-bottom: 1.2rem;
                    }
                }
            }

            .enzy {
                background: linear-gradient(180deg, #6CA793 80%, #6ca79348);
                .enzyHero {
                    margin-bottom: 4rem;
                    position: relative;
                    > * {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                    .cta2Aside {
                        height: 72%;
                        justify-content: space-between;
                        z-index: 2;
                        .enzyLogo {
                            width: calc(12rem + 20vw);
                        }
                        .cta2 {
                            position: absolute;
                            top: auto;
                            bottom: 0;
                            left: 50%;
                            transform: translate(-50%, 520%) scale(1.2);
                            background: #92DCC1;
                            .ctaCircle {
                                transform: translate(-50%, -50%) scale(1.2);
                            }
                            .playIconFrame {
                                // transform: translate(calc(1.2rem + 3.2vw), 0.2rem);
                                transform: translate(calc(1.2rem + 2.2vw), 0.2rem);
                            }
                          }
                    }
                    .phonesWrapper {
                        // width: 64%;
                        width: calc(20rem + 20vw);
                        transform: translate(-50%, -24%);
                    }
                    .subText {
                        transform: translate(-50%, 240%);
                        width: 40%;
                        height: 20%;
                        text-align: center;
                        h3 {
                            margin-bottom: 0.8rem;
                        }
                        .strong {
                            transform: translate(0, -24px) scale(1.2);
                        }
                    }
                    .backgroundGlyph {
                        transform: translate(-50%, -20%);
                        opacity: 0.2;
                    }
                }
                .appUsage {
                    padding: 14rem 0 16rem 0;
                    gap: calc(4rem + 4vw);
                    .block {
                        flex-direction: column;
                        .blockImg {
                            width: 48%;
                        }
                        .blockText {
                            h3 {
                                font-size: $L-Text;
                            }
                        }
                        .linearDot {
                            display: none;
                        }
                    }
                }
                .pageFooter {
                    width: 100%;
                    // height: clamp(8rem, 8%, 11rem);
                    // background: linear-gradient(90deg, #BFD9D000 10%, #6DA894);
                    border-radius: 1.6rem 1.6rem 0 0;
                    padding-right: 2.8rem;
                }
            }
            &Active {
                // transform: translate(0, -58vh);
                transform: $nav-shift;
            }
        }
    }
}

@media (max-width: 580px) {
    .resources {
        // GLOBAL COMPONENTS
            .logo {
                position: absolute;
                top: 1.6rem;
                left: 1.2rem;
                animation-delay: 0.4s;
            }
            .navLogo {
                top: auto;
                bottom: 3.2rem;
                width: calc(6.4rem + 0.4vw);
                height: 1.4rem;
            }
        // GLOBAL COMPONENTS
        .mainContent {
            .cta {
                top: 1.2rem;
                right: 1.2rem;
            }
            .reel {
                gap: 0.8rem;
                height: calc(156rem + 160vw); // Without the parallax, this height is responsive (ends at) the 2 & 4 column's sixth picture.
                .columnOuter {
                  .reelImg {
                    height: calc(15rem + 15vw);
                    figcaption {
                        height: 24%;
                        padding: 0.2rem 0.4rem;
                    }
                  }
                }
            }
            #reel-lg,
            #reel-md {
                display: none;
            }
            #reel-sm {
                display: flex;
            }

            .enzy {
                .enzyHero {
                    .cta2Aside {
                        transform: translate(-50%, -56%);
                        .cta2 {
                            transform: translate(-50%, 420%) scale(1.2);
                            &::before {
                                font-weight: 450;
                            }
                            .playIconFrame {
                            // transform: translate(5.6vw, 0.2rem);
                            transform: translate(calc(1.2rem + 1.6vw), 0.2rem);
                            
                                .playIcon {
                                    width: calc(0.8rem + 0.8vw);
                                    height: calc(0.8rem + 0.8vw);
                                }
                            }
                        }
                    }
                    .phonesWrapper {
                        width: calc(18rem + 18vw);
                        transform: translate(-50%, -40%);
                    }
                    .subText {
                        transform: translate(-50%, 280%);
                        width: 100%;
                        height: 12%;
                    }
                }
                .appUsage {
                    padding: 8rem 0 16rem 0;
                }
                .pageFooter {
                    padding-right: 2rem;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .resources {
        .mainContent {
            .enzy {
                .enzyHero {
                    .cta2Aside {
                        transform: translate(-50%, -56%);
                        .enzyLogo {
                            width: calc(12rem + 20vw);
                            transform: translate(0, 50%);
                        }
                        .cta2 {
                            transform: translate(-50%, 260%) scale(1.2);
                            .playIconFrame {
                            transform: translate(calc(1.5rem + 1.6vw), 0.2rem);
                                .playIcon {
                                    width: calc(0.8rem + 0.8vw);
                                    height: calc(0.8rem + 0.8vw);
                                }
                            }
                        }
                    }
                    .subText {
                        transform: translate(-50%, 220%);
                    }
                }
                .appUsage {
                    padding: 4rem 0 16rem 0;
                }
                .pageFooter {
                    padding-right: 1.2rem;
                }
            }
        }
    }
}
