// prettier-ignore
@import "./base/mixins",
 "./base/fonts",
 "./base/variables",
 "./base/utility";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $satoshi;

  // Autofill for form fields: input, textarea, select, etc.
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: $sunderSnow;
    -webkit-box-shadow: 0 0 0px 1000px $sunderMidnight inset;
    // -webkit-text-fill-color: var(--primary-font-color);
    // -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  }
}
body {
  background: $sunderSnow;
  color: $sunderMidnight;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1,
h2 {
  font-family: $monument;
  font-weight: 450;
}
// This hides the default buttons on input type="number"
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

//
// Global Components
//

.logo {
  /* position: see individual page style sheet */
  top: 2.4rem;
  left: 2.4rem;
  width: calc(8rem + 2vw);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  animation: appear 0.6s ease 1.6s forwards;
  .logoLink {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 2px solid transparent;
    &:focus {
      border: 2px solid $sunderRoyalLight;
      border-radius: 0.4rem;
      outline: none;
    }
    .logoImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.12s;
    }
  }

  &Active {
    pointer-events: none;
    user-select: none;
    cursor: default;
    .logoImg {
      transform: translate(0, -112%);
      transition: transform 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0s;
    }
  }
}

.burgerContainer {
  // border: 1px dashed coral;
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  animation: burgerAppear 0.6s ease 2.6s forwards;
  @keyframes burgerAppear {
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  .burger {
    background: $sunderRoyalLight;
    position: relative;
    width: calc(3.2rem + 0.8vw);
    height: calc(3.2rem + 0.8vw);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease 0.2s, transform 0.3s ease !important;
    &:hover {
      transform: scale(1.12);
      box-shadow: 0px 2px 8px #31313155;
    }
    .line {
      background: $sunderSnow;
      width: 40%;
      height: 2px;
      border-radius: 2rem;
      transition: 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.4s;
      &:nth-of-type(2) {
        margin: 4px 0 4px 0;
        transition-delay: 0.46s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.52s;
      }
    }
    .lineCross {
      @extend .line;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 0;
      transition-delay: 0s;
    }
    .line5 {
      @extend .lineCross;
      transform: translate(-50%, -50%) rotate(-45deg) !important;
    }
    &Active {
      background: $sunderNavy;
      .line {
        width: 0;
        &:nth-of-type(1) {
          transition-delay: 0s;
        }
        &:nth-of-type(2) {
          transition-delay: 0.06s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.12s;
        }
      }
      .lineCross {
        width: 40%;
        transition-delay: 0.4s;
      }
    }
  }
}

.nav {
  background: $sunderIce;
  position: fixed;
  bottom: 0;
  transform: translate(0, 100%);
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: transform $nav-transition;
  .navSlider {
    width: 280%;
    height: 60%;
    display: flex;
    display: none;
    flex: 0 0 auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    transform: translate(calc(10rem + 8vw), 2vw);
    transition: transform 0.5s cubic-bezier(0.75, 0.15, 0.25, 0.85),
      opacity 0.4s ease;
    .navLink {
      transform: translate(2rem, 0);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:hover {
        .linkImg {
          transform: scale(0.96);
        }
      }
      .linkTitle {
        text-transform: capitalize;
        margin-bottom: 0.6vw;
        color: $sunderMidnight;
        display: inline-block;
        flex: none;
        font-family: $satoshi;
        font-size: $S-Text;
        font-weight: 400;
        transform: translate(2%, -10%);

        &Active {
          // background: $sunderRoyalLight;
          // border-radius: 1rem;
          // padding: 0.2rem 0.6rem;
          font-weight: 600;
        }
      }
    }
    .linkImg {
      background: $sunderSnow;
      // width: 20vw;
      width: calc(8rem + 12vw);
      height: calc(7rem + 4vw);
      border-radius: calc(0.6rem + 0.1vw);
      object-fit: cover;
      transition: transform 0.4s ease;
      cursor: pointer;
    }
    .mobileImg {
      display: none;
    }
  }
  .navSwiper {
    position: absolute;
    left: 0;
    width: 100%;
    height: 68%;
    padding: 0 2rem 0 2rem;
    display: flex;
    gap: 4vw;
    justify-content: space-between;
    align-items: center;
    overflow: scroll;
    transform: translate(0, 2vw);
    z-index: -1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .navLink {
      .linkTitle {
        font-size: $M-Text;
        color: $sunderMidnight;
        font-weight: 300;
        transform: translate(2%, -10%);
      }
      .linkTitleActive {
        font-weight: 500;
      }
      .linkImg {
        background: $sunderSnow;
        width: 20vw;
        height: calc(7rem + 4vw);
        border-radius: calc(0.6rem + 0.1vw);
        object-fit: cover;
      }
      .mobileImg {
        display: none;
      }
    }
  }
  .credits {
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
    opacity: 0;
    h6 {
      font-size: $S-Text;
      font-weight: 400;
      cursor: default;
      a {
        cursor: default;
      }
    }
  }

  //.navActive
  &Active {
    transform: translate(0, 0);
  }
}

.navLogo {
  @extend .logo;
  // position: fixed; // Wasn't working as global - added individually
  top: auto;
  bottom: 3rem;
  opacity: 1;
  animation: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, 124%);
    transition: 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0s;
  }
  &Active {
    pointer-events: all;
    img {
      transform: translate(0, 0);
      transition: 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.28s;
    }
  }
}

.cta {
  // Declare Position: relative;
  background: transparent;
  border: 1px solid $sunderMidnight;
  color: transparent;
  border-radius: 4rem;
  width: calc(8rem + 4vw);
  height: calc(2rem + 1vw);
  padding: 0.4rem 1.4rem;
  cursor: pointer;
  overflow: hidden;
  &::before {
    // content: ''; UNIQUE PER BUTTON
    // color: UNIQUE PER BUTTON;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;
    transition: color 0.5s ease;
  }
  .ctaCircle {
    // background: UNIQUE PER BUTTON;
    position: absolute;
    top: var(--mouse-x);
    left: var(--mouse-y);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    animation: restoreBtn 0.52s ease forwards;
  }
  &:hover {
    .ctaCircle {
      top: var(--mouse-x);
      left: var(--mouse-y);
      animation: expandBtn 0.52s ease forwards;
    }
  }
  &:focus {
    background: $sunderRoyalLight;
    &::before {
      color: $sunderSnow !important;
      transition: color 0.3s ease;
    }
  }
  @keyframes restoreBtn {
    0% {
      width: 220%;
      height: 320%;
      opacity: 1;
    }
    90% {
      width: 220%;
      height: 320%;
      opacity: 0;
    }
    100% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }
  }
  @keyframes expandBtn {
    0% {
      width: 0px;
      height: 0px;
      opacity: 0;
    }
    100% {
      width: 220%;
      height: 320%;
      opacity: 1;
    }
  }
}

.videoContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  height: 100dvh;
  background: #000014ad;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease 0.64s;
  z-index: -1;
  &Active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.6s ease;
    z-index: 4;
  }
  .videoWrapper {
    width: 64vw;
    video {
      width: 100%;
    }
  }
  .closeVideo {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    &Burger {
      background: $sunderRoyalLight;
      position: relative;
      width: calc(3.2rem + 0.8vw);
      height: calc(3.2rem + 0.8vw);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background 0.3s ease 0.2s, transform 0.3s ease !important;
      &:hover {
        transform: scale(1.12);
        box-shadow: 0px 2px 8px #31313155;
      }
      .line {
        background: $sunderSnow;
        width: 40%;
        height: 2px;
        border-radius: 2rem;
        transition: 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.4s;
        &:nth-of-type(2) {
          margin: 4px 0 4px 0;
          transition-delay: 0.46s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.52s;
        }
      }
      .lineCross {
        @extend .line;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 0;
        transition-delay: 0s;
      }
      .line5 {
        @extend .lineCross;
        transform: translate(-50%, -50%) rotate(-45deg) !important;
      }
      &Active {
        background: $sunderRoyalLight;
        .line {
          width: 0;
          &:nth-of-type(1) {
            transition-delay: 0s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.06s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.12s;
          }
        }
        .lineCross {
          width: 40%;
          transition-delay: 0.4s;
        }
      }
    }
  }
}

.iframeContainer {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: #000014ad;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease 0.3s;
  z-index: -1;
  &Active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.6s ease;
    z-index: 4;
  }
  .iframe {
    width: 64vw;
    height: 36vw;
  }
  .closeVideo {
    position: absolute;
    bottom: 2.4rem;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
    &Burger {
      background: $sunderRoyalLight;
      position: relative;
      width: calc(3.2rem + 0.8vw);
      height: calc(3.2rem + 0.8vw);
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: background 0.3s ease 0.2s, transform 0.3s ease !important;
      &:hover {
        transform: scale(1.12);
        box-shadow: 0px 2px 8px #31313155;
      }
      .line {
        background: $sunderSnow;
        width: 40%;
        height: 2px;
        border-radius: 2rem;
        transition: 0.4s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.4s;
        &:nth-of-type(2) {
          margin: 4px 0 4px 0;
          transition-delay: 0.46s;
        }
        &:nth-of-type(3) {
          transition-delay: 0.52s;
        }
      }
      .lineCross {
        @extend .line;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 0;
        transition-delay: 0s;
      }
      .line5 {
        @extend .lineCross;
        transform: translate(-50%, -50%) rotate(-45deg) !important;
      }
      &Active {
        background: $sunderRoyalLight;
        .line {
          width: 0;
          &:nth-of-type(1) {
            transition-delay: 0s;
          }
          &:nth-of-type(2) {
            transition-delay: 0.06s;
          }
          &:nth-of-type(3) {
            transition-delay: 0.12s;
          }
        }
        .lineCross {
          width: 40%;
          transition-delay: 0.4s;
        }
      }
    }
  }
}

//
// Keyframes
//

@keyframes appear {
  to {
    opacity: 1;
    pointer-events: all;
  }
}

// For CTA2 (video call to action)
@keyframes loopRight {
  0% {
    transform: translate(-50%);
  }
  80% {
    transform: translate(-50%);
  }
  100% {
    transform: translate(140%, 0);
  }
}
@keyframes loopRight2 {
  0% {
    transform: translate(-120%);
  }
  90% {
    transform: translate(-120%);
  }
  100% {
    transform: translate(50%, 0);
  }
}

//
// Media Queries
//

@media (max-height: 620px) {
  .nav {
    .navSlider {
      .linkImg {
        width: calc(6rem + 10vw);
        height: calc(5rem + 3vw);
      }
      .mobileImg {
        display: none;
      }
    }
    .navSwiper {
      .navLink {
        .linkImg {
          width: calc(6rem + 10vw);
          height: calc(5rem + 3vw);
        }
      }
    }
  }
}

@media (min-width: 2048px) {
  .nav {
    .navSlider,
    .navSwiper {
      .linkImg {
        width: 20vw;
        height: calc(6rem + 8vw);
      }
    }

    //.navActive
    &Active {
      transform: translate(0, 0);
    }
  }
}

@media (max-width: 1024px) {
  //
  // Global Components
  //

  .logo {
    /* position: see individual page style sheet */
    width: calc(6.4rem + 2vw);
  }

  .nav {
    height: 58vh;
    // NOT TO BE CONFUSED WITH NAVSLIDER // MOBILE VS DESKTOP
    .navSwiper {
      .navLink {
        .linkImg {
          background: $sunderSnow;
          border-radius: calc(0.6rem + 0.1vw);
          width: calc(6rem + 12vw);
          height: calc(12rem + 4vw);
        }
        .desktopImg {
          display: none;
        }
        .mobileImg {
          display: block;
        }
      }
    }

    .navSlider {
      height: 68%;
      gap: 2vw;
      transform: translate(calc(14rem + 2vw), 2vw) scale(1);
      .navLink {
        .linkImg {
          width: calc(6rem + 12vw);
          height: calc(12rem + 4vw);
        }
        .desktopImg {
          display: none;
        }
        .mobileImg {
          display: block;
        }
      }
    }
    &Active {
      .navSwiper {
        transform: translate(0, 2vw);
        transition: 0.6s cubic-bezier(0.75, 0.15, 0.25, 0.85) 0.1s;
      }
    }
  }

  .navLogo {
    position: fixed !important;
  }
}

@media (max-width: 480px) {
  .nav {
    height: 50vh;
  }
  .navSlider {
    display: flex !important;
    &Active {
      display: flex !important;
    }
  }
  .navSwiper {
    display: none !important;
    &Active {
      display: none !important;
    }
  }
  .navSlider {
    display: none !important;
    &Active {
      display: none !important;
    }
  }
  .navSwiper {
    display: flex !important;
    &Active {
      display: flex !important;
    }
  }
  .navLink:hover .linkImg {
    transform: scale(1);
  }
}

@media (hover: hover) {
  .nav {
    .navSlider {
      display: flex;
      &Active {
        display: flex;
      }
    }
    .navSwiper {
      display: none;
      &Active {
        display: none;
      }
    }
  }
}
@media (hover: none) {
  .nav {
    .navSlider {
      display: none;
      &Active {
        display: none;
      }
    }
    .navSwiper {
      display: flex;
      &Active {
        display: flex;
      }
    }
    .navLink:hover .linkImg {
      transform: scale(1);
    }
  }

  .cta {
    .ctaCircle {
      display: none;
    }
  }
}

@import "home";
@import "opportunity";
@import "compete";
@import "experience";
@import "resources";
@import "join";
