@font-face {
  font-family: "satoshi";
  src: url(../fonts/Satoshi-Variable.woff2);
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Black.woff2);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Bold.woff2);
  font-weight: 675;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Regular.woff2);
  font-weight: 450;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Light.woff2);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "monument";
  src: url(../fonts/PPMonumentExtended-Thin.woff2);
  font-weight: 100;
  font-style: normal;
}

/* 
Satoshi Weights 
300 - 900 | Variable 

Monument Weights 
100, 200, 450, 675, 800 | Not Variable 
*/

$satoshi: "satoshi", sans-serif;
$monument: "monument", sans-serif;

$sunderSnow: #f7f7f7;
$sunderIce: #C6D3D8;
$sunderRoyalLight: #0c5ff2;
$sunderRoyal: #074895;
$sunderNavy: #061A2A;
$sunderMidnight: #000014;

$Hero-Text: calc(1.6rem + 2.4vw);
$XXL-Text: calc(0.4rem + 2.8vw);
$XL-Text: calc(1.4rem + 1.4vw);
$L-Text: calc(1rem + 1.2vw);
$M-Text: calc(0.8rem + 1vw);
$S-Text: calc(0.8rem + 0.4vw);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $sunderSnow;
  color: $sunderMidnight;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
h1, h2 {
  font-family: $monument;
  font-weight: 450;
}
h3, h4, h5, h6, p, blockquote, a, button {
  font-family: $satoshi;
}

#boldTitle {
  font-weight: 675;
}
.hide {
  display: none;
}
.a11y {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  user-select: none;
}

//
// Global Components
//

.logo {
  /* position: see individual page style sheet */
  top: 2.4rem;
  left: 2.4rem;
  width: calc(8rem + 2vw);
  z-index: 3;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  animation: appear 0.6s ease 1.6s forwards;
  .logoImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.2s;
  }
  .logoLink {
    cursor: pointer;
  }

  &Active {
    border: none;
    pointer-events: none;
    user-select: none;
    cursor: default;
    // .logoLink {
    //   @extend .logoActive;
    // }
    .logoImg {
      transform: translate(0, -112%);
    }
  }
}

.navLogo {
  @extend .logo;
  // position: fixed; // Wasn't working as global - added individually
  top: auto;
  // bottom: 2.4rem;
  bottom: 3rem;
  opacity: 1;
  animation: none;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, 120%);
    transition: 0.6s cubic-bezier(.75,.15,.25,.85);
  }
  &Active {
    pointer-events: all;
    img {
      transform: translate(0, 0);
      transition: 0.6s cubic-bezier(.75,.15,.25,.85) 0.3s;
    }
  }
}

.burgerContainer {
  position: fixed;
  bottom: 2.4rem;
  left: 50%;
  transform: translate(-50%, 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  opacity: 0;
  animation: burgerAppear 0.6s ease 2.6s forwards;
  @keyframes burgerAppear {
    to {
      transform: translate(-50%, 0);
      opacity: 1;
    }
  }
  .burger {
    background: $sunderRoyalLight;
    position: relative;
    width: calc(3.2rem + 0.8vw);
    height: calc(3.2rem + 0.8vw);
    border-radius: 50%;
    // border: 1px solid $sunderSnow;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease 0.2s, transform 0.3s ease !important;
    &:hover {
      transform: scale(1.12);
      box-shadow: 0px 2px 8px #31313155;
    }
    .line {
      background: $sunderSnow;
      width: 40%;
      height: 2px;
      border-radius: 2rem;
      transition: 0.4s cubic-bezier(.75,.15,.25,.85) 0.4s;
      &:nth-of-type(2) {
        margin: 4px 0 4px 0;
        transition-delay: 0.46s;
      }
      &:nth-of-type(3) {
        transition-delay: 0.52s;
      }
    }
    .lineCross {
      @extend .line;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 0;
      transition-delay: 0s;
    }
    .line5 {
      @extend .lineCross;
      transform: translate(-50%, -50%) rotate(-45deg) !important;
    }
    &Active {
      background: $sunderNavy;
      // border: 8px solid $sunderIce;
      .line {
        width: 0;
        &:nth-of-type(1){
          transition-delay: 0s;
        }
        &:nth-of-type(2){
          transition-delay: 0.06s;
        }
        &:nth-of-type(3){
          transition-delay: 0.12s;
        }
      }
      .lineCross {
        width: 40%;
        transition-delay: 0.4s;
      }
    }
  }
}

.nav {
  background: $sunderIce;
  position: fixed;
  bottom: 0;
  transform: translate(0, 100%);
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.6s cubic-bezier(.75,.15,.25,.85) 0.06s;
  .navSlider {
    width: 280%;
    height: 60%;
    display: flex;
    flex: 0 0 auto;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    // opacity: 0;
    // transform: translate(calc(10rem + 8vw), 2vw) scale(0.9);
    transform: translate(calc(10rem + 8vw), 2vw);
    transition: transform 0.5s cubic-bezier(.75,.15,.25,.85), opacity 0.4s ease;

    .navLink {
      transform: translate(2rem, 0);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &:hover {
        .linkImg {
          transform: scale(0.96);
        }
      }
    }
    .linkTitle {
      text-transform: capitalize;
      margin-bottom: 0.6vw;
      color: $sunderMidnight;
      display: inline-block;
      flex: none;
      font-family: $satoshi;
      font-size: $S-Text;
      font-weight: 400;
      // transform: translate(0.2vw, 0);
    }
    .linkTitleActive {
      // background: $sunderRoyalLight;
      // border-radius: 1rem;
      // padding: 0.2rem 0.6rem;
      font-weight: 600;
    }
    .linkImg {
      background: $sunderSnow;
      width: 20vw;
      height: calc(7rem + 4vw);
      border-radius: calc(0.4rem + 0.2vw);
      object-fit: cover;
      transition: transform 0.4s ease;
      cursor: pointer;
    }
    .mobileImg {
      display: none;
    }
  }

  //.navActive
  &Active {
    transform: translate(0, 0);
    // .navSlider {
    //   // opacity: 1;
    //   // transform: translate(calc(10rem + 8vw), 2vw) scale(1);
    //   transform: translate(calc(10rem + 8vw), 2vw);
    //   transition: 0.7s cubic-bezier(.75,.15,.25,.85) 0.1s;
    // }
  }
  .navSwiper {
    display: none;
  }
}

.cta {
  // Declare Position: relative;
  background: transparent;
  border: 1px solid $sunderMidnight;
  color: transparent;
  border-radius: 2.4rem;
  border-radius: 4rem;
  width: calc(8rem + 4vw);
  height: 2.6rem;
  padding: 0.4rem 1.4rem;
  cursor: pointer;
  overflow: hidden;
  &::before {
      // content: ''; UNIQUE PER BUTTON
      // color: UNIQUE PER BUTTON;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      z-index: 1;
      transition: color 0.5s ease;
  }
  .ctaCircle {
      // background: UNIQUE PER BUTTON;
      position: absolute;
      top: var(--mouse-x);
      left: var(--mouse-y);
      transform: translate(-50%, -50%);
      border-radius: 50%;
      pointer-events: none;
      opacity: 0;
      animation: restoreBtn 0.52s ease forwards;
  }
  &:hover {
      .ctaCircle {
          top: var(--mouse-x);
          left: var(--mouse-y);
          animation: expandBtn 0.52s ease forwards;
      }
  }
  @keyframes restoreBtn {
      0% {
          width: 220%;
          height: 320%;
          // width: 420px;
          // height: 180px;
          opacity: 1;
      }
      90% {
          width: 220%;
          height: 320%;
          // width: 420px;
          // height: 180px;
          opacity: 0;
      }
      100% {
          width: 0px;
          height: 0px;
          opacity: 0;
      }
  }
  @keyframes expandBtn {
      0% {
          width: 0px;
          height: 0px;
          opacity: 0;
      }
      100% {
          width: 220%;
          height: 320%;
          // width: 420px;
          // height: 180px;
          opacity: 1;
      }
  }
}

//
// Keyframes
//

@keyframes appear {
  to {
    opacity: 1;
    pointer-events: all;
  }
}

//
// Media Queries
//

@media (max-width: 1024px) {

  //
  // Global Components
  //
  
  .logo {
    /* position: see individual page style sheet */
    width: calc(6.4rem + 2vw);
  }
  .navLogo {
    position: fixed !important;
  }

  .nav {
    height: 52vh;
    .navSwiper {
      display: block;
      position: absolute;
      left: 0;
      width: 100%;
      height: 68%;
      padding: 0 4rem 0 1rem;
      display: flex;
      gap: 4vw;
      justify-content: space-between;
      align-items: center;
      opacity: 0;
      overflow: scroll;
      transform: translate(0, -4vw) scale(0.9);
      transition: transform 0.6s cubic-bezier(.75,.15,.25,.85), opacity 0.6s ease;
      z-index: -1;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      .navLink {
        .linkTitle {
          font-size: $M-Text;
          color: $sunderMidnight;
          font-weight: 300;
          transform: translate(4%, -6%);
        }
        .linkTitleActive {
          font-weight: 500;
        }
        .linkImg {
          background: $sunderSnow;
          border-radius: 1rem;
          width: calc(6rem + 12vw);
          height: calc(12rem + 4vw);
        }
        .desktopImg {
          display: none;
        }
        .mobileImg {
          display: block;
        }
      }
    }

    .navSlider {
      height: 68%;
      gap: 2vw;
      // transform: translate(calc(10rem + 4vw), -6vw) scale(0.8);
      transform: translate(calc(14rem + 2vw), 2vw) scale(1);
      .navLink {
        .linkImg {
          width: calc(6rem + 12vw);
          height: calc(12rem + 4vw);
        }
        .desktopImg {
          display: none;
        }
        .mobileImg {
          display: block;
        }
      }
    }
    &Active {
      // .navSlider {
      //   transform: translate(calc(14rem + 4vw), 2vw) scale(1);
      // }
      .navSwiper {
        opacity: 1;
        transform: translate(0, 2vw) scale(1);
        transition: 0.6s cubic-bezier(.75,.15,.25,.85) 0.1s;
      }
    }
  }
}

@media (hover: none) {
  .nav {
    .navSlider,
    .navSliderNavOpen {
      display: none;
    }
    .navSwiper,
    .navSwiperNavOpen {
      display: flex;
    }
    .navLink:hover .linkImg {
      transform: scale(1);
    }
  }

  .cta {
    .ctaCircle {
      display: none;
    }
  }
}
@media (hover: hover) {
  .nav {
    .navSlider {
      display: flex;
      &Active {
        display: flex;
      }
    }
    .navSwiper {
      display: none;
      &Active {
        display: none;
      }
    }
  }
}

@import "home";
@import "opportunity";